<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADMIN | Thêm địa điểm</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
  <!-- Moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <!-- Dữ liệu tỉnh thành -->
  <script src="../javascripts/dvhcvn.js"></script>

</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

<%- include('../1.topmenu.admin.ejs'); %>
<%- include('../2.leftmenu.admin.ejs'); %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <a href="/admin/addlocation">
              <h1>Thêm địa điểm</h1>
            </a>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Thêm địa điểm</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div id="divthem" class="card card-primary">
                        <div class="card-header">
                          <a href="/admin/addlocation">
                            <h3 id="tieudethem" class="card-title">Thêm địa điểm</h3>
                          </a>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form>
                          <div class="card-body">
                            <label for="">Vui lòng chọn từ trên xuống theo cấu trúc địa phương</label>
                            <div class="form-group">
                                <select id="select_nuoc" class="form-control" aria-label="Default select example">
                                    <option selected>Việt Nam</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select id="select_tinh" class="form-control is-invalid" aria-label="Default select example">
                                  <option selected>Vui lòng chọn Tỉnh</option>
                                </select>
                              
                            </div>
                            <div class="form-group">
                                <select id="select_quan" class="form-control is-invalid" aria-label="Default select example">
                                  <option selected>Vui lòng chọn Quận/huyện</option>
                                </select>
                              
                            </div>
                            <div class="form-group">
                                <select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">
                                    <option selected>Vui lòng chọn Phường/xã</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input id="input_duong" class="form-control is-invalid" type="text" placeholder="77 Lê Văn Thịnh, Ngã tư..." aria-label=".form-control-sm example">
                            </div>
                            <div class="form-group">
                                <input id="input_diadiemthem" class="form-control is-invalid" type="text" placeholder="Công ty CP Phần Mềm Satime" aria-label=".form-control-sm example">
                            </div>
                          </div>
                          <!-- /.card-body -->
            
                          <div class="card-footer">
                            <div class="col text-center">
                                <button id="bt_them" type="button" class="btn btn-primary btn-block"><i class="nav-icon fas fa-map-marker-alt"></i> Thêm mới</button>
                                <button type="button" id="bt_luu" class="btn btn-danger btn-block"><i class="fas fa-edit"></i> Lưu</button>
                            </div>
                            
                          </div>
                        </form>
                      </div>
                </div>
                <div class="col-md-9">
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách địa điểm mới thêm</h3>
                          </div>
                            <div class="card-body table-responsive p-0" style="height: 500px;">
                                <table class="table table-head-fixed text-nowrap">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Thời gian</th>
                                      <th>Tên địa điểm</th>
                                      <th>Địa điểm</th>
                                      <th>Sửa</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <% for( let index = 0; index < data.length; index++ ) { %>
                                        <tr id="tr<%- index +1 %>">
                                            <td><%- index +1 %> </td>
                                            <td><%- moment(data[index].timecreate).format("HH:mm:ss, DD/MM/YYYY") %></td>
                                            <td> <a href="/location/<%- data[index].id %>"> <p><%- data[index].ten %></p></a></td>
                                            <td>
                                                <p style="font-weight: bold;"><%- data[index].duong %></p>
                                                <p><%- data[index].phuong %>, <%- data[index].quan %>, <%- data[index].tinh %>, <%- data[index].nuoc %></p>
                                            </td>
                                            <td>
                                                <button type="button" id="bt_sua<%- index +1 %>" class="btn btn-outline-danger btn-block btn-sm"><i class="fas fa-edit"></i> Sửa</button>
                                                <button type="button" id="bt_xoa<%- index +1 %>" class="btn btn-outline-warning btn-block btn-sm"><i class="fas fa-trash-alt"></i> Xóa</button>
                                            </td>
                                          </tr>
                                    <% } %>
                                  </tbody>
                                </table>
                              </div>
                              <!-- /.card-body -->
                              <div class="card-footer">
                                <div class="col text-center">
                                  <a href="/admin/location">
                                    <button id="bt_xemtatca" type="button" class="btn btn-block bg-gradient-warning btn-sm"> Xem tất cả</button>
                                  </a>
                                </div>
                                
                              </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <%- include('../3.footer.admin.ejs'); %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../admin/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../admin/dist/js/demo.js"></script>

<!-- Xử lý dữ liệu -->
<script>

  $(document).ready(function(){
          $("#bt_luu").hide()
          //Chọn theo cấu trúc
          //Chọn tỉnh
          var cactinh =['<option value="NA">Chọn Tỉnh/thành phố</option>',];
          for (var key in diachi.data){
              //console.log(`${key}: ${diachi.data[key].name}`)
              var idtinh = parseInt(key)+1;
              //console.log(typeof key)
              tinh=`${diachi.data[key].name}`
              cactinh.push('<option value='+key+'>'+tinh+'</option>')
              
          }
          var kqtinh = '<select id="select_tinh" class="form-control is-invalid" aria-label="Default select example">'+cactinh+'</select>';
          $("#select_tinh").replaceWith(kqtinh)
          //Tinh to Quan/huyen
          
          $("#select_tinh").change(function(){
            
            var idTinh = $('#select_tinh').val()
            console.log(idTinh)
            console.log(diachi.data[idTinh].level2s)
            var cacHuyen = diachi.data[idTinh].level2s
            var luachonchuyen=['<option value="NA">Chọn Quận/huyện</option>',]
            let i = 0;
            for (var element of cacHuyen){
                huyen = element.name
                //console.log('- '+huyen)
                luachonchuyen.push('<option value='+i+'>'+huyen+'</option>')
                i++
            }
            //console.log(luachonchuyen)
            var kqhuyen = '<select id="select_quan" class="form-control is-invalid" aria-label="Default select example">'+luachonchuyen+'</select>';
            $("#select_quan").replaceWith(kqhuyen)
  
            //Quan to xa/phuong
            $("#select_quan").change(function(){
              var idTinh = $('#select_tinh').val()
              var idHuyen = $('#select_quan').val()
              var cacHuyen = diachi.data[idTinh].level2s
              let cacXa = diachi.data[idTinh].level2s[idHuyen].level3s;
              console.log(cacXa)
              var luachonxa=[]
              let i = 0;
              for (let element of cacXa){
                  xa = element.name
                  console.log('- '+xa)
                  luachonxa.push('<option value='+i+'>'+xa+'</option>')
                  i++
              }
              //console.log(luachonchuyen)
              var kqxa = '<select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">'+luachonxa+'</select>';
              $("#select_phuong").replaceWith(kqxa)
            })
            
          })
          //Them Du lieu
          $("#bt_them").click(function(){
                //alert("ok")
                var diadiemthem = $("#input_diadiemthem").val()
                var duongthem = $("#input_duong").val()
                var phuongthem = $("#select_phuong"+" option:selected").text();
                var quanthem = $("#select_quan"+" option:selected").text();
                var tinhthem = $("#select_tinh"+" option:selected").text();
                var nuocthem = $("#select_nuoc"+" option:selected").text()
                if(tinhthem == "Chọn Tỉnh/thành phố"){
                  alert("Vui lòng chọn tỉnh/thành phố");
                }else if(quanthem == "Chọn Quận/huyện"){
                  alert("Vui lòng chọn Quận/Huyện");
                }else if(phuongthem == "Vui lòng chọn Phường/xã"){
                  alert("Vui lòng chọn Phường/xã");
                }else if(duongthem== ""){
                  alert("Tên đường/khu vực không được");
                } else if(diadiemthem == ""){
                  alert("Tên điểm không được bỏ trống");
                } else{
                      $.ajax({
                        url:'/admin/addlocation',
                        type:'POST',
                        dataType: 'json',
                        data: {
                        ten: diadiemthem,
                        duong: duongthem,
                        phuong: phuongthem,
                        quan: quanthem,
                        tinh: tinhthem,
                        nuoc: nuocthem,
                        by: '<%- user %>'
                        }
                      })
                      .then(data=>{
                        alert(data.ten + " Đã được thêm")
                        location.reload()
                      })
                      .catch(err=>{
                        console.log(err)
                      }
                      )
                }
          })
          
          //SỬA
          for (let index = 1; index <= 50; index++) {

            $("#bt_sua"+index).click(function(){
            //Đổi vùng
            $("#divthem").attr("class","card card-danger")
            $("#bt_them").hide()
            $("#bt_luu").show()

            //Xử lý dữ liệu
            //Tìm ID
            let locationId =[]
            $("#tr"+index).find("a").each(function name(params) {
              console.log("link:",$(this).attr("href").replace("/location/",""))
              locationId.push($(this).attr("href").replace("/location/",""))
              
            })
            $("#tieudethem").text("Sửa địa điểm: "+ locationId[0])
            let diadiemsua = []
            $("#tr"+index).find("p").each(function name(params) {
              
              diadiemsua.push($(this).text())
              
            })
            let tachdiem = diadiemsua[diadiemsua.length-1]
            tachdiem = tachdiem.split(",")
            tachdiemok = []
            tachdiem.forEach(element => {
              
              tachdiemok.push(element.trim())

            });

            diadiemsua.splice(diadiemsua.length-1)
            diadiemsua = diadiemsua.concat(tachdiemok)
            
            console.log(diadiemsua)
            //Thay đổi Select
            $("#select_tinh").find("option").each(function name(params) {
              
              if($(this).text()==diadiemsua[diadiemsua.length-2]) {
                console.log($(this).text(), $(this).val())
                $("#select_tinh").val($(this).val())
              }

            })
            //Tinh to Huyen            
            var idTinh = $('#select_tinh').val()
            console.log(idTinh)
            console.log(diachi.data[idTinh].level2s)
            var cacHuyen = diachi.data[idTinh].level2s
            var luachonchuyen=['<option value="NA">Chọn Quận/huyện</option>',]
            let i = 0;
            for (var element of cacHuyen){
                huyen = element.name
                //console.log('- '+huyen)
                luachonchuyen.push('<option value='+i+'>'+huyen+'</option>')
                i++
            }
            //console.log(luachonchuyen)
            var kqhuyen = '<select id="select_quan" class="form-control is-invalid" aria-label="Default select example">'+luachonchuyen+'</select>';
            $("#select_quan").replaceWith(kqhuyen)

            //Thay đổi huyện
            $("#select_quan").find("option").each(function name(params) {
              
              if($(this).text()==diadiemsua[diadiemsua.length-3]) {
                console.log("quan:",$(this).text(), $(this).val())
                $("#select_quan").val($(this).val())
              }
              
            })
            //Quan to xa/phuong
              let idTinhsua = $('#select_tinh').val()
              let idHuyensua = $('#select_quan').val()
              let cacHuyensua = diachi.data[idTinhsua].level2s
              let cacXasua = diachi.data[idTinhsua].level2s[idHuyensua].level3s;
              console.log(cacXasua)
              let luachonxasua=[]
              let t = 0;
              for (let element of cacXasua){
                  let xa = element.name
                  console.log('- '+xa)
                  luachonxasua.push('<option value='+t+'>'+xa+'</option>')
                  t++
              }
              //console.log(luachonchuyen)
              let kqxasua = '<select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">'+luachonxasua+'</select>';
              $("#select_phuong").replaceWith(kqxasua)
              //Thay đổi xã
              $("#select_phuong").find("option").each(function name(params) {
                if($(this).text()==diadiemsua[diadiemsua.length-4]) {
                  console.log("phuong:",$(this).text(), $(this).val())
                  $("#select_phuong").val($(this).val())
                }
              })
              //Quan to xa/phuong - change
              $("#select_quan").change(function(){
                var idTinh = $('#select_tinh').val()
                var idHuyen = $('#select_quan').val()
                var cacHuyen = diachi.data[idTinh].level2s
                let cacXa = diachi.data[idTinh].level2s[idHuyen].level3s;
                console.log(cacXa)
                var luachonxa=[]
                let i = 0;
                for (let element of cacXa){
                    xa = element.name
                    console.log('- '+xa)
                    luachonxa.push('<option value='+i+'>'+xa+'</option>')
                    i++
                }
                //console.log(luachonchuyen)
                var kqxa = '<select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">'+luachonxa+'</select>';
                $("#select_phuong").replaceWith(kqxa)
              })
              //Thay đổi đường, tên
              $("#input_duong").val(diadiemsua[diadiemsua.length-5])
              $("#input_diadiemthem").val(diadiemsua[diadiemsua.length-6])
              $("#bt_luu").click(function () {
                //Tim va put du lieu
                let tendiadiemsua = $("#input_diadiemthem").val()
                let duongsua = $("#input_duong").val()
                let phuongsua = $("#select_phuong"+" option:selected").text();
                let quansua = $("#select_quan"+" option:selected").text();
                let tinhsua = $("#select_tinh"+" option:selected").text();
                let nuocsua = $("#select_nuoc"+" option:selected").text()
                //PUT
                $.ajax({
                          url:'/admin/location/'+locationId[0],
                          type:'PUT',
                          dataType: 'json',
                          data: {
                          ten: tendiadiemsua,
                          duong: duongsua,
                          phuong: phuongsua,
                          quan: quansua,
                          tinh: tinhsua,
                          nuoc: nuocsua,
                          by: '<%- user %>'
                          }
                        })
                        .then(data=>{
                          alert(data.ten + " Đã được sua")
                          location.reload()
                        })
                        .catch(err=>{
                          console.log(err)
                        })
              })
              
          })
          }
        //DELETE
        for (let index = 1; index <= 50; index++) {
          
          
          $("#bt_xoa"+index).click(function () {
          //Tìm ID
          let locationId =[]
          $("#tr"+index).find("a").each(function name(params) {
            console.log("link:",$(this).attr("href").replace("/location/",""))
            locationId.push($(this).attr("href").replace("/location/",""))
          })
          //DELETE
          let ok = confirm("Bạn chắc chắn muốn xóa địa điểm này?")
          if (ok==true){
            $.ajax({
                          url:'/admin/location/'+locationId[0],
                          type:'DELETE',
                          dataType: 'json',
                          data: {
                          IDxoa: locationId[0]
                          }
                        })
                        .then(data=>{
                          alert(data.ten + " Đã được xóa")
                          location.reload()
                        })
                        .catch(err=>{
                          console.log(err)
                        })
          }
          
          })
        }
        
  
  
  })
  
  
  </script>
</body>
</html>
