<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ADMIN | Review địa điểm</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
  <!-- Moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  <!-- Dữ liệu tỉnh thành -->
  <script src="../../javascripts/dvhcvn.js"></script>
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

<%- include('../1.topmenu.admin.ejs'); %>
<%- include('../2.leftmenu.admin.ejs'); %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Review địa điểm</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Review địa điểm</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Địa điểm và hình ảnh -->
        <div class="row">
          <!-- Ảnh -->
          <div class="col-md-8">
            <!-- Địa điểm -->
            <div class="card card-primary shadow">
              <div class="card-body" id="div_diadiem">
                <img src="../../admin/dist/img/lotrinh-AxA.png" width="80px" style="display: block;margin-left: auto;border-radius:15px; margin-right: auto;">
                <h1 id="hientendiem" class="fw-light text-center text-lg-start mt-4 mb-0"><%- data.ten %> </h1>
                <h2 id="hiendiachi" class="fw-light text-center text-lg-start mt-4 mb-0"><%- data.duong %>, <%- data.phuong %>, <%- data.quan %>, <%- data.tinh %></h2>
              </div>
            </div>
            <!--  Sua, xoa, tam an -->
            <div class="card card-widget shadow">
              <div class="card-body text-center">
                <button id="bt_sua" class="btn btn-app bg-success">
                  <i class="fas fa-edit"></i> Sửa
                </button>
                <button id="bt_xoa" class="btn btn-app bg-danger">
                  <i class="fas fa-trash-alt"></i> Xóa               
                </button>
                <button id="bt_an" class="btn btn-app bg-warning">
                  <i class="fas fa-lock"></i> Ẩn
                </button>
                <button id="bt_luu" type="button" class="btn btn-block btn-info btn-lg">Lưu lại

                </button>
              </div>
            </div>
            <div class="card card-primary shadow">
              <div class="card-body">
                

                <div class="row text-center text-lg-start" id="album">

                  <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="/images/chonloc/phu-quoc.jpg" alt="">
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="/images/chonloc/ha-noi.jpg" alt="">
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="/images/chonloc/ho-chi-minh.jpg" alt="">
                    </a>
                  </div>
                  <div class="col-lg-3 col-md-4 col-6">
                    <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src="/images/chonloc/da-nang.jpg" alt="">
                    </a>
                    
                  </div>
                  
                </div>
                <div class="card-footer p-0">
                  <div class="form-group">
                    <div class="input-group">
                      
                      <div class="custom-file">
                        <input class="form-control" type="file" id="input_upload" multiple>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-block btn-success" id="bt_upload">Thêm hình ảnh</button>
                      </div>
                      
                    </div>
                    <p style="font-style: italic; color: #78838e; background-color: #f8f9fa;">Thêm tối đa 10 hình ảnh</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Người dùng và thao tác -->
          <div class="col-md-4">

            <div class="card card-widget widget-user shadow">
              <!-- Add the bg color to the header using any of the bg-* classes -->
              <div class="widget-user-header bg-info">
                <h3 class="widget-user-username">Alexander Pierce</h3>
                <h5 class="widget-user-desc">Freedoom</h5>
              </div>
              <div class="widget-user-image">
                <img class="img-circle elevation-2" src="../dist/img/user1-128x128.jpg" alt="User Avatar">
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">3,200</h5>
                      <span class="description-text">Views</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 border-right">
                    <div class="description-block">
                      <h5 class="description-header">13,000</h5>
                      <span class="description-text">Like</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4">
                    <div class="description-block">
                      <h5 class="description-header">35</h5>
                      <span class="description-text">Comment</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
            </div>
            
            <div class="card card-widget shadow">
              <div class="card-header">
                <div class="user-block">
                  <img class="img-circle" src="../dist/img/user1-128x128.jpg" alt="User Image">
                  <span class="username"><a href="#">Jonathan Burke Jr.</a></span>
                  <span class="description">Shared publicly - 7:30 PM Today</span>
                </div>
                <!-- /.user-block -->
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" title="Mark as read">
                    <i class="far fa-circle"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <!-- post text -->
                <p>Far far away, behind the word mountains, far from the
                  countries Vokalia and Consonantia, there live the blind
                  texts. Separated they live in Bookmarksgrove right at</p>

                <p>the coast of the Semantics, a large language ocean.
                  A small river named Duden flows by their place and supplies
                  it with the necessary regelialia. It is a paradisematic
                  country, in which roasted parts of sentences fly into
                  your mouth.</p>

                <!-- Attachment -->
                <div class="attachment-block clearfix">
                  <img class="attachment-img" src="../dist/img/photo1.png" alt="Attachment Image">

                  <div class="attachment-pushed">
                    <h4 class="attachment-heading"><a href="https://www.lipsum.com/">Lorem ipsum text generator</a></h4>

                    <div class="attachment-text">
                      Description about the attachment can be placed here.
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry... <a href="#">more</a>
                    </div>
                    <!-- /.attachment-text -->
                  </div>
                  <!-- /.attachment-pushed -->
                </div>
                <!-- /.attachment-block -->

                <!-- Social sharing buttons -->
                <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
                <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
                <span class="float-right text-muted">45 likes - 2 comments</span>
              </div>
              <!-- /.card-body -->
              <div class="card-footer card-comments">
                <div class="card-comment">
                  <!-- User image -->
                  <img class="img-circle img-sm" src="../dist/img/user3-128x128.jpg" alt="User Image">

                  <div class="comment-text">
                    <span class="username">
                      Maria Gonzales
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span><!-- /.username -->
                    It is a long established fact that a reader will be distracted
                    by the readable content of a page when looking at its layout.
                  </div>
                  <!-- /.comment-text -->
                </div>
                <!-- /.card-comment -->
                <div class="card-comment">
                  <!-- User image -->
                  <img class="img-circle img-sm" src="../dist/img/user5-128x128.jpg" alt="User Image">

                  <div class="comment-text">
                    <span class="username">
                      Nora Havisham
                      <span class="text-muted float-right">8:03 PM Today</span>
                    </span><!-- /.username -->
                    The point of using Lorem Ipsum is that it hrs a morer-less
                    normal distribution of letters, as opposed to using
                    'Content here, content here', making it look like readable English.
                  </div>
                  <!-- /.comment-text -->
                </div>
                <!-- /.card-comment -->
              </div>
              <!-- /.card-footer -->
              <div class="card-footer">
                <form action="#" method="post">
                  <img class="img-fluid img-circle img-sm" src="../dist/img/user4-128x128.jpg" alt="Alt Text">
                  <!-- .img-push is used to add margin to elements next to floating images -->
                  <div class="img-push">
                    <input type="text" class="form-control form-control-sm" placeholder="Press enter to post comment">
                  </div>
                </form>
              </div>
              <!-- /.card-footer -->
            </div>

            
            
          </div> 
        </div>
        <div class="row">
          <div class="col-md-4">
                        <!-- Tuyến đường đi qua-->
                        <div class="card card-outline card-primary shadow">
                          <div class="card-header">
                            <h3 class="card-title">Những tuyến đường đi qua</h3>
                            <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                              </button>
                            </div>
                            <!-- /.card-tools -->
                          </div>
                          
                          <div class="card-footer p-0">
                            <ul class="nav flex-column">
                              <li class="nav-item">
                                <a href="#" class="nav-link">
                                  Hà Nội - Hồ Chí Minh <span class="float-right badge bg-primary">31</span>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a href="#" class="nav-link">
                                  Hà Nội - Đà Nẵng <span class="float-right badge bg-info">5</span>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a href="#" class="nav-link">
                                  Hà Nội - Nha Trang <span class="float-right badge bg-success">12</span>
                                </a>
                              </li>
                              <li class="nav-item">
                                <a href="#" class="nav-link">
                                  Hà Nội - Cà Mau <span class="float-right badge bg-danger">842</span>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </div>
          </div>
          <div class="col-md-4">
            <!-- Phương tiện đi qua -->
            <div class="card card-outline card-success shadow">
              <div class="card-header">
                <h3 class="card-title">Những phương tiện đi qua</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Hồ Chí Minh <span class="float-right badge bg-primary">31</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Đà Nẵng <span class="float-right badge bg-info">5</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Nha Trang <span class="float-right badge bg-success">12</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Cà Mau <span class="float-right badge bg-danger">842</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <!-- Nhà cung cấp dịch vụ -->
            <div class="card card-outline card-warning shadow">
              <div class="card-header">
                <h3 class="card-title">Nhà cung cấp dịch vụ</h3>
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
                <!-- /.card-tools -->
              </div>
              
              <div class="card-footer p-0">
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Hồ Chí Minh <span class="float-right badge bg-primary">31</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Đà Nẵng <span class="float-right badge bg-info">5</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Nha Trang <span class="float-right badge bg-success">12</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      Hà Nội - Cà Mau <span class="float-right badge bg-danger">842</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- /.content -->
    
  </div>
  <!-- /.content-wrapper -->

  <%- include('../3.footer.admin.ejs'); %>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../admin/plugins/jquery/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    var locationId = '<%-data._id%>'
    $("#bt_luu").hide()
    /* Sửa */
    $('#bt_sua').click(function(){
      var tendiem = $("#hientendiem").text();
      var tachdiem = $("#hiendiachi").text();
      console.log("a:",tendiem,tachdiem)
      $("#hientendiem").hide()
      $("#hiendiachi").hide()
      $("#bt_sua").hide()
      $("#bt_xoa").hide()
      $("#bt_an").hide()
      $("#bt_luu").show()
      
      $("#div_diadiem").append(
        `<div class="form-group">
            <select id="select_nuoc" class="form-control" aria-label="Default select example">
                <option selected>Việt Nam</option>
            </select>
        </div>
        <div class="form-group">
            <select id="select_tinh" class="form-control is-invalid" aria-label="Default select example">
              <option selected>Vui lòng chọn Tỉnh</option>
            </select>
          
        </div>
        <div class="form-group">
            <select id="select_quan" class="form-control is-invalid" aria-label="Default select example">
              <option selected>Vui lòng chọn Quận/huyện</option>
            </select>
          
        </div>
        <div class="form-group">
            <select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">
                <option selected>Vui lòng chọn Phường/xã</option>
            </select>
        </div>
        <div class="form-group">
            <input id="input_duong" class="form-control is-invalid" type="text" placeholder="77 Lê Văn Thịnh, Ngã tư..." aria-label=".form-control-sm example">
        </div>
        <div class="form-group">
            <input id="input_diadiemthem" class="form-control is-invalid" type="text" placeholder="Công ty CP Phần Mềm Satime" aria-label=".form-control-sm example">
        </div>
        `
      )
      //
      //Chọn theo cấu trúc
      //Chọn tỉnh
      var cactinh =['<option value="NA">Chọn Tỉnh/thành phố</option>',];
      for (var key in diachi.data){
          //console.log(`${key}: ${diachi.data[key].name}`)
          var idtinh = parseInt(key)+1;
          //console.log(typeof key)
          tinh=`${diachi.data[key].name}`
          cactinh.push('<option value='+key+'>'+tinh+'</option>')
          
      }
      var kqtinh = '<select id="select_tinh" class="form-control is-invalid" aria-label="Default select example">'+cactinh+'</select>';
      $("#select_tinh").replaceWith(kqtinh)
      //Tinh to Quan/huyen
      
      $("#select_tinh").change(function(){
        
        var idTinh = $('#select_tinh').val()
        console.log(idTinh)
        console.log(diachi.data[idTinh].level2s)
        var cacHuyen = diachi.data[idTinh].level2s
        var luachonchuyen=['<option value="NA">Chọn Quận/huyện</option>',]
        let i = 0;
        for (var element of cacHuyen){
            huyen = element.name
            //console.log('- '+huyen)
            luachonchuyen.push('<option value='+i+'>'+huyen+'</option>')
            i++
        }
        //console.log(luachonchuyen)
        var kqhuyen = '<select id="select_quan" class="form-control is-invalid" aria-label="Default select example">'+luachonchuyen+'</select>';
        $("#select_quan").replaceWith(kqhuyen)

        //Quan to xa/phuong
        $("#select_quan").change(function(){
          var idTinh = $('#select_tinh').val()
          var idHuyen = $('#select_quan').val()
          var cacHuyen = diachi.data[idTinh].level2s
          let cacXa = diachi.data[idTinh].level2s[idHuyen].level3s;
          console.log(cacXa)
          var luachonxa=[]
          let i = 0;
          for (let element of cacXa){
              xa = element.name
              console.log('- '+xa)
              luachonxa.push('<option value='+i+'>'+xa+'</option>')
              i++
          }
          //console.log(luachonchuyen)
          var kqxa = '<select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">'+luachonxa+'</select>';
          $("#select_phuong").replaceWith(kqxa)
        })
        
      })
      //Tìm dữ liệu
      tachdiem = tachdiem.split(",")
      tachdiemok = []
      tachdiem.forEach(element => {
        tachdiemok.push(element.trim())
      });
      var diadiemsua = tachdiemok
      console.log(diadiemsua)
      //điền dữ liệu cũ
      //Thay đổi Select
      $("#select_tinh").find("option").each(function name(params) {
              
              if($(this).text()==diadiemsua[diadiemsua.length-1]) {
                console.log($(this).text(), $(this).val())
                $("#select_tinh").val($(this).val())
              }

      })
      //Tinh to Huyen            
      var idTinh = $('#select_tinh').val()
      console.log(idTinh)
      console.log(diachi.data[idTinh].level2s)
      var cacHuyen = diachi.data[idTinh].level2s
      var luachonchuyen=['<option value="NA">Chọn Quận/huyện</option>',]
      let i = 0;
      for (var element of cacHuyen){
          huyen = element.name
          //console.log('- '+huyen)
          luachonchuyen.push('<option value='+i+'>'+huyen+'</option>')
          i++
      }
      //console.log(luachonchuyen)
      var kqhuyen = '<select id="select_quan" class="form-control is-invalid" aria-label="Default select example">'+luachonchuyen+'</select>';
      $("#select_quan").replaceWith(kqhuyen)

      //Thay đổi huyện
      $("#select_quan").find("option").each(function name(params) {
        
        if($(this).text()==diadiemsua[diadiemsua.length-2]) {
          console.log("quan:",$(this).text(), $(this).val())
          $("#select_quan").val($(this).val())
        }
        
      })
      //Quan to xa/phuong
        let idTinhsua = $('#select_tinh').val()
        let idHuyensua = $('#select_quan').val()
        let cacHuyensua = diachi.data[idTinhsua].level2s
        let cacXasua = diachi.data[idTinhsua].level2s[idHuyensua].level3s;
        console.log(cacXasua)
        let luachonxasua=[]
        let t = 0;
        for (let element of cacXasua){
            let xa = element.name
            console.log('- '+xa)
            luachonxasua.push('<option value='+t+'>'+xa+'</option>')
            t++
        }
        //console.log(luachonchuyen)
        let kqxasua = '<select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">'+luachonxasua+'</select>';
        $("#select_phuong").replaceWith(kqxasua)
        //Thay đổi xã
        $("#select_phuong").find("option").each(function name(params) {
          if($(this).text()==diadiemsua[diadiemsua.length-3]) {
            console.log("phuong:",$(this).text(), $(this).val())
            $("#select_phuong").val($(this).val())
          }
        })
        //Quan to xa/phuong - change
        $("#select_quan").change(function(){
          var idTinh = $('#select_tinh').val()
          var idHuyen = $('#select_quan').val()
          var cacHuyen = diachi.data[idTinh].level2s
          let cacXa = diachi.data[idTinh].level2s[idHuyen].level3s;
          console.log(cacXa)
          var luachonxa=[]
          let i = 0;
          for (let element of cacXa){
              xa = element.name
              console.log('- '+xa)
              luachonxa.push('<option value='+i+'>'+xa+'</option>')
              i++
          }
          //console.log(luachonchuyen)
          var kqxa = '<select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">'+luachonxa+'</select>';
          $("#select_phuong").replaceWith(kqxa)
        })
        //Thay đổi đường, tên
        $("#input_duong").val(diadiemsua[diadiemsua.length-4])
        $("#input_diadiemthem").val(tendiem)


        $("#bt_luu").click(function(){
          //Tim va put du lieu
          let tendiadiemsua = $("#input_diadiemthem").val()
          let duongsua = $("#input_duong").val()
          let phuongsua = $("#select_phuong"+" option:selected").text();
          let quansua = $("#select_quan"+" option:selected").text();
          let tinhsua = $("#select_tinh"+" option:selected").text();
          let nuocsua = $("#select_nuoc"+" option:selected").text()
          //PUT
          $.ajax({
          url:'/admin/location/'+locationId,
          type:'PUT',
          dataType: 'json',
          data: {
          ten: tendiadiemsua,
          duong: duongsua,
          phuong: phuongsua,
          quan: quansua,
          tinh: tinhsua,
          nuoc: nuocsua,
          by: '<%- user %>'
          }
        })
        .then(data=>{
          alert(data.ten + " Đã được sua")
          location.reload()
        })
        .catch(err=>{
          console.log(err)
        })

        })
          
    })
    /* Xóa */
    $("#bt_xoa").click(function () {
          //DELETE
          let ok = confirm("Bạn chắc chắn muốn xóa địa điểm này?")
          if (ok==true){
            $.ajax({
                          url:'/admin/location/'+locationId,
                          type:'DELETE',
                          dataType: 'json',
                          data: {
                          IDxoa: locationId
                          }
                        })
                        .then(data=>{
                          alert(data.ten + " Đã được xóa")
                          window.location.href = "/admin/location"
                        })
                        .catch(err=>{
                          console.log(err)
                        })
          }
    })
    /* Load hinh */
    var imgurls = '<%-imgsData%>'

    imgurls = JSON.parse(imgurls)
    console.log(imgurls)
    for( let index = 0; index < imgurls.imgs.length; index++ ) {
      $("#album").append(
        `<div class="col-lg-3 col-md-4 col-6">
                      <a href="#" class="d-block mb-4 h-100">
                        <img class="img-fluid img-thumbnail" src="/images/imglocation/`+imgurls.imgs[index].filename+`" alt="`+imgurls.imgs[index].originalname+`">
                        <p style="margin-top: -33px; color: blanchedalmond;">@`+imgurls.imgs[index].by.nickname+', '+ moment(imgurls.imgs[index].timecreate).format("HH:mm:ss, DD/MM/YYYY")+`</p>
                      </a>

        </div>`
      )

    }
    /* Upload hình */
    $("#bt_upload").click(function(){
      console.log($("#input_upload"))
      var data = new FormData()
      data.append("locationID",locationId)
      for (let index = 0; index < $("#input_upload")[0].files.length; index++) {
        data.append("imgurl",$("#input_upload")[0].files[index])
      }
      console.log(data)

      //POST
      if($("#input_upload")[0].files.length >= 1){
        $.ajax({
        url:'/admin/location/img/'+locationId,
        type:'POST',
        data:data,
        contentType: false,
        processData: false,
        success: function(res){
            console.log(res)
            alert(res.mes)
            location.reload()
        }
        })
      } else {
        alert("Bạn chưa chọn hình ảnh để tải lên")
      }
      

    })
          
  })
</script>
<!-- Bootstrap 4 -->
<script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../admin/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../admin/dist/js/demo.js"></script>
</body>
</html>
