<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://new.lotrinh.vn/lo-trinh/lich-trinh/chieu-di/<%- data[0]._id %>/chuyen/<%- data[1][0].time.tripCode %>" />
    <% if (data[0].loai=="1"){ %> 
        <title>Lịch trình chuyến <%- data[1][0].time.tripCode %>, <%- data[0].matuyen %>, xe bus <%- data[0].ten %> - Chiều về</title>
        <meta name='keywords' content='Xe bus <%- data[0].matuyen %>, xe bus <%- data[0].ten %>, xe bus chuyến <%- data[1][0].time.tripCode %>, xe bus <%- data[0].ncc %>'>
        <meta name='description' content='Lịch trình chi tiết xe bus <%- data[0].ten %>, mã <%- data[0].matuyen %> chuyến <%- data[1][0].time.tripCode %>'>
        
        <% } else if (data[0].loai=="2"){ %> 
            <title>Lịch trình chi tiết chuyến <%- data[1][0].time.tripCode %>, <%- data[0].matuyen %>, xe khach <%- data[0].ten %> - Chiều về</title>
            <meta name='keywords' content='Xe khách <%- data[0].matuyen %>, xe khách <%- data[0].ten %>, xe khách <%- data[0].ten %>, xe khách <%- data[0].ncc %>'>
            <meta name='description' content='Lịch trình chi tiết xe khách <%- data[0].ten %>, mã <%- data[0].matuyen %> chuyến <%- data[1][0].time.tripCode %>'>
        
            <% } else if (data[0].loai=="3"){ %> 
                <title>Lịch trình chi tiết chuyến <%- data[1][0].time.tripCode %>, <%- data[0].matuyen %>, xe taxi <%- data[0].ten %> - Chiều về</title> 
                <meta name='keywords' content='Xe taxi <%- data[0].matuyen %>, xe taxi <%- data[0].ten %>, xe taxi <%- data[0].ten %>, xe taxi <%- data[0].ncc %>'>
                <meta name='description' content='Lịch trình chi tiết taxi <%- data[0].ten %>, mã <%- data[0].matuyen %> chuyến <%- data[1][0].time.tripCode %>'>
            
                <% } else if (data[0].loai=="4"){ %> 
                    <title>Lịch trình chi tiết chuyến <%- data[1][0].time.tripCode %>, <%- data[0].matuyen %>, xe mô tô <%- data[0].ten %> - Chiều về</title> 
                    <meta name='keywords' content='Moto <%- data[0].matuyen %>, xe moto <%- data[0].ten %>, xe moto <%- data[0].ten %>, xe moto <%- data[0].ncc %>'>
                    <meta name='description' content='Lịch trình chi tiết Moto <%- data[0].ten %>, mã <%- data[0].matuyen %> chuyến <%- data[1][0].time.tripCode %>'>
                
                    <% } else if (data[0].loai=="5"){ %> 
                        <title>Lịch trình chi tiết chuyến <%- data[1][0].time.tripCode %>, <%- data[0].matuyen %>, thuyền, tàu biển <%- data[0].ten %> - Chiều về</title> 
                        <meta name='keywords' content='Thuyền, tàu biển <%- data[0].matuyen %>, thuyền, tàu biển <%- data[0].ten %>, thuyền, tàu biển <%- data[0].ten %>, thuyền, tàu biển <%- data[0].ncc %>'>
                        <meta name='description' content='Lịch trình chi tiết thuyền, tàu biển <%- data[0].ten %>, mã <%- data[0].matuyen %> chuyến <%- data[1][0].time.tripCode %>'>
                    
                        <% } else if (data[0].loai=="6"){ %>  
                            <title>Lịch trình chi tiết chuyến <%- data[1][0].time.tripCode %>, <%- data[0].matuyen %>, phương tiện khác <%- data[0].ten %> - Chiều về</title>
                            <meta name='keywords' content='Phương tiện khác <%- data[0].matuyen %>, phương tiện khác <%- data[0].ten %>, phương tiện khác <%- data[0].ten %>, phương tiện khác <%- data[0].ncc %>'>
                            <meta name='description' content='Lịch trình chi tiết phương tiện khác <%- data[0].ten %>, mã <%- data[0].matuyen %> chuyến <%- data[1][0].time.tripCode %>'>
                        
  
        <% } %>
    <meta name='subject' content='Lịch trình chuyến đi <%- data[0].matuyen %> của tuyến đường <%- data[0].ten %> - Chiều về'>
    <meta name='copyright' content='<%- data[0].ncc %>'>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8">
    <META HTTP-EQUIV="Content-language" CONTENT="vi">
    <meta name='robots' content='index,follow'>
    <meta name='abstract' content='Lộ trình chi tiết chuyến <%- data[0].matuyen %>, tuyến đường vận tải <%- data[0].ten %> của <%- data[0].ncc %> - Chiều về'>
    <meta name='Classification' content='Business'>
    <meta name='author' content='<%- data[0].partnerID.hoten %>, admin@lotrinh.vn'>
    <meta name='designer' content='<%- data[0].partnerID.hoten %>, admin@lotrinh.vn'>
    <meta name='reply-to' content='admin@lotrinh.vn'>
    <meta name='owner' content='<%- data[0].partnerID.hoten %>, admin@lotrinh.vn'>
    <meta name='url' content='http://new.lotrinh.vn/lo-trinh/lich-trinh/chieu-di/<%- data[0]._id %>/chuyen/<%- data[1][0].time.tripCode %>'>
    <meta name='identifier-URL' content='http://new.lotrinh.vn/lo-trinh/lich-trinh/chieu-di/<%- data[0]._id %>/chuyen/<%- data[1][0].time.tripCode %>'>
    <meta name='directory' content='submission'>
    <meta name='pagename' content='Chuyến <%- data[1][0].time.tripCode %>. Tuyến đường vận tải <%- data[0].ten %> của <%- data[0].ncc %> - Chiều về'>
    <meta name='category' content='lịch trình chuyến đi'>
    <meta name='coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <meta name='rating' content='General'>
    <meta name='revisit-after' content='7 days'>
    <meta name='subtitle' content='Chuyến <%- data[0].matuyen %>, tuyến đường vận tải <%- data[0].ten %>'>
    <meta name='target' content='all'>
    <meta name='MobileOptimized' content='320'>
    <meta http-equiv='Expires' content='0'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='imagetoolbar' content='no'>
    <meta http-equiv='x-dns-prefetch-control' content='off'>
    <!-- OpenGraph Meta Tags -->
    <meta name="fb:page_id" content="410128599013063" />
    <meta name="og:title" content="Lộ trình chi tiết chuyến <%- data[0].matuyen %>, tuyến đường <%- data[0].ten %> của <%- data[0].ncc %> - Chiều về"/>
    <meta property="og:type" content="article">
    <meta name="og:type" content="router"/>
    <meta name="og:url" content="http://new.lotrinh.vn/lo-trinh/lich-trinh/chieu-di/<%- data[0]._id %>/chuyen/<%- data[1][0].time.tripCode %>"/>
    <meta name="og:image" content="http://new.lotrinh.vn/images/share/lotrinh-AxA.png"/>
    <meta name="og:site_name" content="LOTRINH.VN"/>
    <meta name="og:description" content="Lịch trình chi tiết xe bus <%- data[0].ten %>, mã <%- data[0].matuyen %>, chuyến <%- data[1][0].time.tripCode %>, của <%- data[0].ncc %> - Chiều về"/>
    <meta name="og:locality" content="<%- data[1][0].locationID.quan %>"/>
    <meta name="og:region" content="<%- data[1][0].locationID.tinh %>"/>
    <meta name="og:country-name" content="VN"/>
  
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../../../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../../../../admin/dist/css/adminlte.min.css">
</head>

<body class="sidebar-mini sidebar-collapse">
  <!-- Site wrapper -->
  <div class="container">
    <%- include('../1.topmenu.customer.ejs'); %>
    <%- include('../2.seach.customer.ejs'); %>
    <div class="row">
        <div class="col">
            <!-- Lịch trình chuyến -->
            <div class="card card-success card-outline">
                <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2">
                                
                                <h1 class="text-center"><%- data[0].matuyen %></h1>
                                <% if (data[0].loai=="1"){ %> 
                                    <h5 class="text-center">Xe bus</h5>
                                    <% } else if (data[0].loai=="2"){ %>
                                    <h5 class="text-center">Xe khách</h5>
                                    <% } else if (data[0].loai=="3"){ %>
                                    <h5 class="text-center">Xe taxi</h5>
                                    <% } else if (data[0].loai=="4"){ %>
                                    <h5 class="text-center">Xe moto</h5>
                                    <% } else if (data[0].loai=="5"){ %>
                                        <h5 class="text-center">Thuyền, tàu biển</h5>
                                        <% } else if (data[0].loai=="6"){ %>
                                        <h5 class="text-center">Phương tiện khác</h5>

                                    <% } %>
                                <h6 class="text-center">Chuyến: <%- data[1][0].time.tripCode %></h6>
                            </div>
                            <div class="col-sm-10">
                                <h2 class="text-center"><%- data[0].ten %></h2>
                            </div>

                        </div>

                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <% if(data[0].ncc){ %>
                                <a href="/p/<%- data[0].nccID %>">
                                    <h5 style="text-align: left;"><i class="fab fa-servicestack"> </i> <%- data[0].ncc %></h5>
                                </a>
                            <% } %>

                        </div>
                        <div class="col">
                            <h6 style="text-align: right;"><i class="fas fa-user-circle"></i> <%- data[0].partnerID.hoten %></h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card card-success card-outline">
                        <div class="card-header">
                            <h3 class="card-title"><i class="nav-icon fas fa-calendar-alt"></i> Bảng thời gian chiều về</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                    <i class="fas fa-expand"></i>
                                </button>
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <span title="địa điểm" class="badge bg-danger" id="dem_chieudi">0</span>
                            </div>
                        </div>

                        <div class="card-body table-responsive p-0" style="height: auto;">

                            <table class="table table-head-fixed text-wrap" id="table_chieudi">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>Thời gian đi</th>
                                <th>Ngày đi (*)</th>
                                <th>Địa điểm</th>
                                <th><i class="nav-icon fas fa-map-marker-alt"></i></th>
                                </tr>
                            </thead>
                            <tbody id="tbody_chieudi">
                                <% for( let index = 0; index < data[1].length; index++ ) { %>
                                <tr id="tr_chieudi_<%- index +1 %>">
                                    <td><%- index +1 %></td>
                                    <td>
                                        <p><%- data[1][index].time.time %></p>
                                    </td>
                                    <td>
                                        <% if (data[1][index].time.frequency=="many") { %> 
                                            <p><%- moment(data[1][index].time.date).format("YYYY-MM-DD") %></p>
                                        <% } %>
                                        <% if (data[1][index].time.frequency=="one") { %> 
                                            <p>Hàng ngày</p>
                                        <% } %> 
                                    </td>
                                    <td>
                                        <a href="/dia-diem/<%- data[1][index].locationID._id %>">
                                            <p style="font-weight: bold;margin-bottom:2px"><%- data[1][index].locationID.ten %></p>
                                        </a>
                                        <p style="margin-bottom:2px"><%- data[1][index].locationID.duong %>, <%- data[1][index].locationID.phuong %>, <%- data[1][index].locationID.quan %>, <%- data[1][index].locationID.tinh %></p>
                                    </td>
                                    <td class="align-left">
                                        <a href="/dia-diem/<%- data[1][index].locationID._id %>"><i class="fas fa-chevron-right"></i></a>
                                    </td>
                                    
                                </tr>
                                <% } %>
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
        
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../../../../../admin/plugins/jquery/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

      $("#input_homeseach").keyup(function(){
        let kytuseach = $("#input_homeseach").val()
        let last = kytuseach.charAt(kytuseach.length-1)
        if(kytuseach.length>=2&&last==" "){
          console.log("get..."+kytuseach)
          $.ajax({
              url:'/tim-kiem/?tukhoa='+kytuseach,
              type:'GET',
              dataType: 'json'
              })
              .then(data=>{
              console.log(data)
                $('#seach').empty()
                for (let index = 0; index < data.kq.length; index++) {
                  $('#seach').append(
                    `<option id='`+data.kq[index]._id+`' value='`+data.kq[index].ten+', '+data.kq[index].duong+', '+data.kq[index].phuong+', '+data.kq[index].quan+', '+data.kq[index].tinh+`' label='`+data.kq[index].byuserID.hoten+`'></option>`
                  )
                }
              })
              .catch(err=>{
              console.log(err)
            })
        }
      })
      $("#bt_seach").click(function() {
        let diadiem = $("#input_homeseach").val()
        window.location.href = '/tim-kiem/dia-diem/?tukhoa='+encodeURI(diadiem)
      })
    })
  </script>
  <!-- Bootstrap 4 -->
  <script src="../../../../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../../../../admin/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../../../../admin/dist/js/demo.js"></script>
</body>

</html>