<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tìm tại địa điểm</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">

   
</head>

<body class="sidebar-mini sidebar-collapse">
  <!-- Site wrapper -->
  <div class="container">
    <%- include('../1.topmenu.customer.ejs'); %>
      <%- include('../2.seach.customer.ejs'); %>

        <!-- Phương tiện -->
        <div class="row justify-content-center bg-white">
        </div>
        
        <div class="row justify-content-center">
          <div class="col-md-9">
                <% for( let index=0; index < data.kq.length; index++ ) { %>
                  <!-- Tuyến đường phù hợp -->
                    <div class="card card-outline card-success">
                      <div class="card-body">
                        <!-- Tuyến đường -->
                        <div class="row">
                          <div class="col-md-2">
                            <h1 class="text-center">
                              <%- data.kq[index].matuyen %>
                            </h1>
                            <% if (data.kq[index].loai=="1"){ %> 
                            <h6 class="text-center">Xe bus</h6>
                            <% } else if (data.kq[index].loai=="2"){ %>
                              <h6 class="text-center">Xe khách</h6>
                            <% } else if (data.kq[index].loai=="3"){ %>
                              <h6 class="text-center">Xe taxi</h6>
                            <% } else if (data.kq[index].loai=="4"){ %>
                              <h6 class="text-center">Xe moto</h6>
                              <% } else if (data.kq[index].loai=="5"){ %>
                                <h6 class="text-center">Thuyền, tàu biển</h6>
                                <% } else if (data.kq[index].loai=="6"){ %>
                                  <h6 class="text-center">Phương tiện khác</h6>

                            <% } %>
                          </div>
                          <div class="col-md-9">
                              <a href="/lo-trinh/<%- data.kq[index].url_friendly %>">
                                <h2><%- data.kq[index].ten %></h2>
                              </a>
                              <a href="/p/<%- data.kq[index].nccID._id %>">
                                <p><i class="fab fa-servicestack"> </i> <%- data.kq[index].nccID.tenncc %></p>
                              </a>
                          </div>
                          <div class="col-md-1 text-right">
                            <a href="/lo-trinh/<%- data.kq[index].url_friendly %>">
                              <i class="fas fa-chevron-right"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% } %>

<!--               </div>
            </div> -->
          </div>
          <div class="col-md-3">
            <!-- Lọc dịch vụ -->
            <%- include('../4A.filter_vehical.customer.ejs'); %>
          </div>
        </div>
        <div class="row justify-content-center">
        </div>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../../admin/plugins/jquery/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

      $("#input_homeseach").keyup(function(){
        let kytuseach = $("#input_homeseach").val()
        let last = kytuseach.charAt(kytuseach.length-1)
        if(kytuseach.length>=2&&last==" "){
          console.log("get..."+kytuseach)
          $.ajax({
              url:'/tim-kiem/?tukhoa='+kytuseach,
              type:'GET',
              dataType: 'json'
              })
              .then(data=>{
              console.log(data)
                $('#seach').empty()
                for (let index = 0; index < data.kq.length; index++) {
                  $('#seach').append(
                    `<option id='`+data.kq[index]._id+`' value='`+data.kq[index].ten+', '+data.kq[index].duong+', '+data.kq[index].phuong+', '+data.kq[index].quan+', '+data.kq[index].tinh+`' label='`+data.kq[index].byuserID.hoten+`'></option>`
                  )
                }
              })
              .catch(err=>{
              console.log(err)
            })
        }
      })
      $("#bt_seach").click(function() {
        let diadiem = $("#input_homeseach").val()
        window.location.href = '/tim-kiem/dia-diem/?tukhoa='+encodeURI(diadiem)
      })
    })
  </script>
  <!-- Bootstrap 4 -->
  <script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../admin/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../admin/dist/js/demo.js"></script>
</body>

</html>