<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tìm tại địa điểm</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">

   
</head>

<body class="sidebar-mini sidebar-collapse">
  <!-- Site wrapper -->
  <div class="container">
    <%- include('../1.topmenu.customer.ejs'); %>
      <%- include('../2.seach.customer.ejs'); %>

        <!-- Phương tiện -->
        <div class="row justify-content-center bg-white">
        </div>
        
        <div class="row justify-content-center">
          <div class="col-md-9">
                <% for( let index=0; index < data.kq.length; index++ ) { %>
                  <!-- Tuyến đường phù hợp -->
                    <div class="info-box bg-light">
                      <div class="info-box-content">
                        <!-- Tuyến đường -->
                        <div class="row">
                          <div class="col-md-2">
                            <h1 class="text-center">
                              <%- data.kq[index].matuyen %>
                            </h1>
                            <% if (data.kq[index].loai=="1"){ %> 
                            <h6 class="text-center">Xe bus</h6>
                            <% } else if (data.kq[index].loai=="2"){ %>
                              <h6 class="text-center">Xe khách</h6>
                            <% } else if (data.kq[index].loai=="3"){ %>
                              <h6 class="text-center">Xe taxi</h6>
                            <% } else if (data.kq[index].loai=="4"){ %>
                              <h6 class="text-center">Xe moto</h6>
                              <% } else if (data.kq[index].loai=="5"){ %>
                                <h6 class="text-center">Thuyền, tàu biển</h6>
                                <% } else if (data.kq[index].loai=="6"){ %>
                                  <h6 class="text-center">Phương tiện khác</h6>

                            <% } %>
                          </div>
                          <div class="col-md-10">
                            <a href="/lo-trinh/<%- data.kq[index]._id %>">
                              <h3 class="text-center">
                                <%- data.kq[index].ten %>
                              </h3>
                              
                            </a>
                            <div class="row">
                              <div class="col">
                                <% if(data.kq[index].nccID){ %>
                                  <h5 style="text-align: left;"><i class="fab fa-servicestack"> </i> <%- data.kq[index].nccID.tenncc %></h5>
                                <% } %>  
                              </div>
                              <div class="col">
                                <a href="#">
                                  <h6 class="widget-user-username" style="text-align: right;"><i class="fas fa-user"></i> <%- data.kq[index].partnerID.hoten %> 
                                  </h6>
                                </a>
                              </div>
                            </div>

                            <a href="#" class="link-black text-sm mr-2">
                              <i class="fas fa-eye"></i> 5000
                            </a>
                            <span class="float-right">
                              <a href="#" class="link-black text-sm mr-2">
                                <i class="fas fa-heart"></i> 50
                              </a>
                            </span>
                            <span class="float-right">
                              <a href="#" class="link-black text-sm mr-2">
                                <i class="far fa-comments mr-1"></i> 5
                              </a>
                            </span>
                          </div>
                          <div class="row">
                            
                          </div>
                        </div>

                        <div class="progress">
                          <div class="progress-bar bg-green" style="width: 100%"></div>
                          <br>
                        </div>
                        <div class="row">
                          <div class="col-sm-5">
                            <!-- Nơi đi -->
                            <span class="info-box-text text-wrap"><i class="fas fa-map-marker-alt" style="color:rgb(1, 152, 253)"></i> <strong>
                                <%- data.kq[index].chieudi[0].locationID.ten %>
                              </strong>, <%- data.kq[index].chieudi[0].locationID.duong %>, <%-
                                  data.kq[index].chieudi[0].locationID.phuong %>, <%-
                                    data.kq[index].chieudi[0].locationID.quan %>, <%-
                                      data.kq[index].chieudi[0].locationID.tinh %> </span>
                          </div>
                          <div class="col-sm-2 text-center">
                            <i class="fas fa-angle-double-right"></i>
                          </div>
                          <div class="col-sm-5">
                            <!-- Nơi đến -->
                            <span class="info-box-text text-wrap"><i class="fas fa-map-marker-alt" style="color:rgb(253, 1, 1)"></i> <strong>
                                <%- data.kq[index].chieudi[data.kq[index].chieudi.length -1].locationID.ten %>
                              </strong>, <%- data.kq[index].chieudi[data.kq[index].chieudi.length -1].locationID.duong %>, <%-
                                  data.kq[index].chieudi[data.kq[index].chieudi.length -1].locationID.phuong %>, <%-
                                    data.kq[index].chieudi[data.kq[index].chieudi.length -1].locationID.quan %>, <%-
                                      data.kq[index].chieudi[data.kq[index].chieudi.length -1].locationID.tinh %> </span>
                          </div>
                        </div>
                        <!-- Lộ trình -->
                        <div class="row">
                          <div class="col-md-6">
                            <span class="info-box-text">
                              <i class="fas fa-route"></i> Đi qua: <strong>
                                <%- data.kq[index].chieudi.length %>
                              </strong>
                              địa điểm
                            </span>
                          </div>
                          <div class="col-md-6">
                            <% if (data.kq[index].chieuve.length > 0) { %> 
                            <span class="info-box-text">
                              <i class="fas fa-sync"></i> Hai chiều
                            </span>
                            <% } else { %> 
                            <span class="info-box-text">
                              <i class="fas fa-long-arrow-alt-right"></i> Một chiều
                            </span>
                            <% } %> 
                          </div>
                        </div>
                        <% if (data.kq[index].chieudi[0].time[0]) { %> 
                          <!-- Thời gian -->
                          </br>
                          <div class="card card-outline card-success">
                            <div class="card-header">
                              <h3 class="card-title"><i class="nav-icon fas fa-calendar-alt"></i> Lịch khởi hành chiều đi</h3>
                              <div class="card-tools">
                                <span class="info-box-text text-sm">
                                  <i class="fas fa-bullseye"></i>
                                  <%- data.kq[index].chieudi[0].time.length%> chuyến
                                </span>
                              </div>
                            </div>
                            <div class="card-body table-responsive p-0">
                              <table class="table table-hover text-wrap">
                                <thead>
                                  <tr>
                                    <th class="text-center">Chuyến</th>
                                    <th>Mã</th>
                                    <th>Thời gian đi</th>
                                  </tr>
                                </thead>
                                <tbody id="tbody_chieudi">
                                  <% for( let t=0; t < data.kq[index].chieudi[0].time.length; t++ ) { %>
                                    <tr>
                                      <td id="<%-data.kq[index].chieudi[0].time[t]._id%>" class="text-center">
                                        <%- t +1 %>
                                      </td>
                                      <td>
                                          <span class="badge bg-primary">
                                            <%-data.kq[index].chieudi[0].time[t].tripCode%>
                                          </span>
                                      </td>

                                      <td>
                                        <% if (data.kq[index].chieudi[0].time[t].frequency=="many") { %> 
                                          <%-data.kq[index].chieudi[0].time[t].time%>, <%-
                                              moment(data.kq[index].chieudi[0].time[t].date).format("DD/MM/YYYY")%>
                                        <% } %> 
                                        <% if (data.kq[index].chieudi[0].time[t].frequency=="one") { %> 
                                          <%-data.kq[index].chieudi[0].time[t].time%>, hàng ngày
                                        <% } %> 
                                      </td>
                                    </tr>
                                    <% } %>

                                </tbody>
                              </table>
                            </div>

                          </div>
                          <!-- Xem thêm -->
                        <% } %>
                      </div>
                    </div>
                  <% } %>

<!--               </div>
            </div> -->
          </div>
          <div class="col-md-3">
            <!-- Lọc dịch vụ -->
            <%- include('../4A.filter_vehical.customer.ejs'); %>
          </div>
        </div>
        <div class="row justify-content-center">
        </div>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../../admin/plugins/jquery/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

      $("#input_homeseach").keyup(function(){
        let kytuseach = $("#input_homeseach").val()
        let last = kytuseach.charAt(kytuseach.length-1)
        if(kytuseach.length>=2&&last==" "){
          console.log("get..."+kytuseach)
          $.ajax({
              url:'/tim-kiem/?tukhoa='+kytuseach,
              type:'GET',
              dataType: 'json'
              })
              .then(data=>{
              console.log(data)
                $('#seach').empty()
                for (let index = 0; index < data.kq.length; index++) {
                  $('#seach').append(
                    `<option id='`+data.kq[index]._id+`' value='`+data.kq[index].ten+', '+data.kq[index].duong+', '+data.kq[index].phuong+', '+data.kq[index].quan+', '+data.kq[index].tinh+`' label='`+data.kq[index].by+`'></option>`
                  )
                }
              })
              .catch(err=>{
              console.log(err)
            })

          

            $("#bt_seach").click(function() {
              let diadiem = $("#input_homeseach").val()
              $.ajax({
              url:'/tim-kiem/dia-diem/?tukhoa='+encodeURI(diadiem),
              type:'GET',
              dataType: 'json'
              })
              .then(data=>{
              console.log(data)
              })
              .catch(err=>{
              console.log(err)
            })
              
              

            })
            

        }
      })
    })
  </script>
  <!-- Bootstrap 4 -->
  <script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../admin/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../admin/dist/js/demo.js"></script>
</body>

</html>