<!DOCTYPE html>
<html lang="vi">

<head>
<!-- SEO -->
  
<title>Phương tiện đi qua <%- data.ten %> | Địa điểm</title>
<meta name='keywords' content='Tuyến đường đi qua <%- data.ten %>, chuyến đi qua <%- data.ten %>, chuyến đến <%- data.ten %>, chuyến đi <%- data.ten %>'>
<meta name='description' content='Các tuyến đường, phương tiện đi qua <%- data.ten %>, <%- data.duong %>, <%- data.phuong %>, <%- data.quan %>, <%- data.tinh %>. Những chuyến xe đi qua, những nhà cung cấp vận tải, các lịch trình'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="http://new.lotrinh.vn/dia-diem/<%- data.url_friendly %>" />
<meta name='subject' content='Những chuyến xe đi qua <%- data.ten %>'>
<meta name='copyright' content='<%- data.byuserID.hoten %>'>
<meta name='robots' content='index,follow'>
<meta name='abstract' content='hi tiết các tuyến đi, đến, đi qua ở địa điểm <%- data.ten %> có địa chỉ <%- data.duong %>, <%- data.phuong %>, <%- data.quan %>, <%- data.tinh %>'>
<meta name='Classification' content='Business'>
<meta name='author' content='<%- data.byuserID.hoten %>, admin@lotrinh.vn'>
<meta name='designer' content='<%- data.byuserID.hoten %>, admin@lotrinh.vn'>
<meta name='reply-to' content='admin@lotrinh.vn'>
<meta name='owner' content='<%- data.byuserID.hoten %>, admin@lotrinh.vn'>
<meta name='url' content='http://new.lotrinh.vn/dia-diem/<%- data.url_friendly %>'>
<meta name='identifier-URL' content='http://new.lotrinh.vn/dia-diem/<%- data.url_friendly %>'>
<meta name='directory' content='submission'>
<meta name='pagename' content='Chi tiết các tuyến đi, đến, đi qua ở địa điểm <%- data.ten %> có địa chỉ <%- data.duong %>, <%- data.phuong %>, <%- data.quan %>, <%- data.tinh %>'>
<meta name='category' content='Địa điểm'>
<meta name='coverage' content='Worldwide'>
<meta name='distribution' content='Global'>
<meta name='rating' content='General'>
<meta name='revisit-after' content='7 days'>
<meta name='subtitle' content='Chi tiết các tuyến đi, đến, đi qua ở địa điểm <%- data.ten %>'>
<meta name='target' content='all'>
<meta name='MobileOptimized' content='320'>
<meta http-equiv='Expires' content='0'>
<meta http-equiv='Pragma' content='no-cache'>
<meta http-equiv='Cache-Control' content='no-cache'>
<meta http-equiv='imagetoolbar' content='no'>
<meta http-equiv='x-dns-prefetch-control' content='off'>
<!-- OpenGraph Meta Tags -->
<meta name="fb:page_id" content="410128599013063" />
<meta name="og:title" content="Chi tiết các tuyến đi, đến, đi qua ở địa điểm <%- data.ten %>"/>
<meta property="og:type" content="article">
<meta name="og:type" content="router"/>
<meta name="og:url" content="http://new.lotrinh.vn/dia-diem/<%- data.url_friendly %>"/>
<meta name="og:image" content="http://new.lotrinh.vn/dia-diem/<%- data.url_friendly %>"/>
<meta name="og:site_name" content="LOTRINH.VN"/>
<meta name="og:description" content="Chi tiết các tuyến đi, đến, đi qua ở địa điểm <%- data.ten %> có địa chỉ <%- data.duong %>, <%- data.phuong %>, <%- data.quan %>, <%- data.tinh %>"/>
<meta name="og:locality" content="<%- data.quan %>"/>
<meta name="og:region" content="<%- data.tinh %>"/>
<meta name="og:country-name" content="VN"/>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
  <!-- Moment -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
   
</head>

<body class="sidebar-mini sidebar-collapse">
  <!-- Site wrapper -->
  <div class="container">
    <%- include('../1.topmenu.customer.ejs'); %>
      <%- include('../2.seach.customer.ejs'); %>

        <!-- Phương tiện -->
        <div class="row justify-content-center bg-white">
        </div>
        
        <div class="row justify-content-center">
          <div class="col-md-12">
            <div class="row">
                <!-- Địa điểm -->
                <div class="info-box bg-white ">
                  <div class="info-box-content" id="div_diadiem">
                    <img alt="hình ảnh địa điểm <%- data.ten %>" src="../../admin/dist/img/lotrinh-AxA.png" width="80px" style="display: block;margin-left: auto;border-radius:15px; margin-right: auto;">
                    <h1 class="fw-light text-center text-lg-start mt-4 mb-0"><%- data.ten %></h1>
                    <h3 class="fw-light text-center text-lg-start mt-2 mb-0"><%- data.duong %>, <%- data.phuong %>, <%- data.quan %>, <%- data.tinh %></h3>
                    <h6 class="text-center mt-2 mb-0"><a href="/user/<%- data.byuserID._id %>"><i class="fas fa-user-circle"></i> <%- data.byuserID.hoten %></a>, <i class="fas fa-history"></i> <%-moment(data.timecreate).format("HH:MM, DD-MM-YYYY") %></h6>
                    <div class="row mt-2">
                      <div class="col-md-9 text-left" style="font-style: italic;">
                        <span>
                          <i class="fas fa-route"></i>
                          <%- cactuyenkhoihanh.length + cactuyendiqua.length + cactuyenketthuc.length %> tuyến khai thác.
                        </span>
                        <span>
                          <i class="far fa-eye"></i>
                          <%- data.totalviews %> xem.
                        </span>
                        
                        <span>
                          <i class="far fa-comments mr-1"></i>
                          ### bình luận.
                        </span>    
                      </div>
                      <div class="col-md-3 text-center">
                        <button class="btn btn-outline-danger btn-block btn-sm">
                          <i class="fas fa-heart"></i>  
                          ## yêu thích
                        </button>
                      </div>
                      
                    </div>
                  </div>
                  
                </div>
            </div>
            <!-- Ads -->
            <%- include('../4.ads-auto.customer.ejs'); %>
            
          </br>
            <div class="row">
              <div class="col-md-12">
                <!-- Các tuyến -->
                <h2 class="fw-light text-center text-lg-start mt-2 mb-4" style="font-weight: lighter;">Các tuyến vận tải đi, đến và đi qua</h2>
                <div class="card card-primary card-outline card-outline-tabs">
                  <div class="card-header p-0 border-bottom-0">
                  <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                  <li class="nav-item">
                  <a class="nav-link active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true"><span class="badge badge-primary right"><%- cactuyenkhoihanh.length%></span> Khởi hành</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false"><span class="badge badge-warning right"><%- cactuyendiqua.length %></span> Đi qua</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" id="custom-tabs-four-messages-tab" data-toggle="pill" href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false"><span class="badge badge-danger right"><%- cactuyenketthuc.length %></span> Kết thúc</a>
                  </li>
                  </ul>
                  </div>
                  <div class="card-body">
                  <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                      <table class="table table-head-fixed text-wrap">
                        <thead>
                          <tr>
                            <th class="align-middle">Loại</th>
                            <th class="align-middle">Mã tuyến</th>
                            <th class="align-middle">Tên tuyến</th>
                            <th class="align-middle"><i class="fas fa-route"></i></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for( let index = 0; index < cactuyenkhoihanh.length; index++ ) { %>
                            <tr>
                              <td>
                                <% if (cactuyenkhoihanh[index].loai=="1"){ %> 
                                <span>Xe buýt</span>
                                <% } else if (cactuyenkhoihanh[index].loai=="2"){ %>
                                <span>Xe khách</span>
                                <% } else if (cactuyenkhoihanh[index].loai=="3"){ %>
                                <span>Xe taxi</span>
                                <% } else if (cactuyenkhoihanh[index].loai=="4"){ %>
                                <span>Xe moto</span>
                                <% } else if (cactuyenkhoihanh[index].loai=="5"){ %>
                                <span>Thuyền, tàu biển</span>
                                <% } else if (cactuyenkhoihanh[index].loai=="6"){ %>
                                <span>Phương tiện khác</span>
                                <% } %>
                              </td>
                              <td>
                                <span><%- cactuyenkhoihanh[index].matuyen %></span>
                              </td>
                              <td>
                                <a href="/lo-trinh/<%- cactuyenkhoihanh[index].url_friendly %>">
                                  <h5><%- cactuyenkhoihanh[index].ten %></h5>
                                </a>
                                <a href="/p/<%- cactuyenkhoihanh[index].nccID._id %>">
                                  <p><i class="fab fa-servicestack"> </i> <%- cactuyenkhoihanh[index].nccID.tenncc %></p>
                                </a>
                              </td>
                              <td><a href="/lo-trinh/<%- cactuyenkhoihanh[index].url_friendly %>"><i class="fas fa-chevron-right"></i></a></td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                    <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                      <table class="table table-head-fixed text-wrap">
                        <thead>
                          <tr>
                            <th class="align-middle">Loại</th>
                            <th class="align-middle">Mã tuyến</th>
                            <th class="align-middle">Tên tuyến</th>
                            <th class="align-middle"><i class="fas fa-route"></i></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for( let index = 0; index < cactuyendiqua.length; index++ ) { %>
                            <tr>
                              <td>
                                <% if (cactuyendiqua[index].loai=="1"){ %> 
                                <span>Xe buýt</span>
                                <% } else if (cactuyendiqua[index].loai=="2"){ %>
                                <span>Xe khách</span>
                                <% } else if (cactuyendiqua[index].loai=="3"){ %>
                                <span>Xe taxi</span>
                                <% } else if (cactuyendiqua[index].loai=="4"){ %>
                                <span>Xe moto</span>
                                <% } else if (cactuyendiqua[index].loai=="5"){ %>
                                <span>Thuyền, tàu biển</span>
                                <% } else if (cactuyendiqua[index].loai=="6"){ %>
                                <span>Phương tiện khác</span>
                                <% } %>                              </td>
                              <td>
                                <span><%- cactuyendiqua[index].matuyen %></span>
                              </td>
                              <td>
                                <a href="/lo-trinh/<%- cactuyendiqua[index].url_friendly %>"><h5><%- cactuyendiqua[index].ten %></h5></a>
                                <a href="/p/<%- cactuyendiqua[index].nccID._id %>"><i class="fab fa-servicestack"> </i> <%- cactuyendiqua[index].nccID.tenncc %></a>
                              </td>
                              <td><a href="/lo-trinh/<%- cactuyendiqua[index].url_friendly %>"><i class="fas fa-chevron-right"></i></a></td>
                            </tr>
                          <% } %>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">
                    <div class="tab-pane fade show active" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                      <table class="table table-head-fixed text-wrap">
                        <thead>
                          <tr>
                            <th class="align-middle">Loại</th>
                            <th class="align-middle">Mã tuyến</th>
                            <th class="align-middle">Tên tuyến</th>
                            <th class="align-middle"><i class="fas fa-route"></i></th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for( let index = 0; index < cactuyenketthuc.length; index++ ) { %>
                            <tr>
                              <td>
                                <% if (cactuyenketthuc[index].loai=="1"){ %> 
                                <span>Xe buýt</span>
                                <% } else if (cactuyenketthuc[index].loai=="2"){ %>
                                <span>Xe khách</span>
                                <% } else if (cactuyenketthuc[index].loai=="3"){ %>
                                <span>Xe taxi</span>
                                <% } else if (cactuyenketthuc[index].loai=="4"){ %>
                                <span>Xe moto</span>
                                <% } else if (cactuyenketthuc[index].loai=="5"){ %>
                                <span>Thuyền, tàu biển</span>
                                <% } else if (cactuyenketthuc[index].loai=="6"){ %>
                                <span>Phương tiện khác</span>
                                <% } %>
                              </td>
                              <td>
                                <span><%- cactuyenketthuc[index].matuyen %></span>
                              </td>
                              <td>
                                <a href="/lo-trinh/<%- cactuyenketthuc[index].url_friendly %>"><h5><%- cactuyenketthuc[index].ten %></h5></a>
                                <a href="/p/<%- cactuyenketthuc[index].nccID._id%>"><i class="fab fa-servicestack"> </i> <%- cactuyenketthuc[index].nccID.tenncc%></a>
                              </td>
                              <td><a href="/lo-trinh/<%- cactuyenketthuc[index].url_friendly %>"><i class="fas fa-chevron-right"></i></a></td>
                            </tr>
                          <% } %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  
                  </div>
                  </div>
                  
                </div>
                <!-- Các đơn vị vận tải -->

                    
              </div>
            </div>
          </div>
        </div>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../../admin/plugins/jquery/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      /* Gợi ý từ khóa */
      $("#input_homeseach").keyup(function(){
        let kytuseach = $("#input_homeseach").val()
        let last = kytuseach.charAt(kytuseach.length-1)
        if(kytuseach.length>=2&&last==" "){
          console.log("get..."+kytuseach)
          $.ajax({
              url:'/tim-kiem/?tukhoa='+kytuseach,
              type:'GET',
              dataType: 'json'
              })
              .then(data=>{
              console.log(data)
                $('#seach').empty()
                for (let index = 0; index < data.kq.length; index++) {
                  $('#seach').append(
                    `<option id='`+data.kq[index]._id+`' value='`+data.kq[index].ten+', '+data.kq[index].duong+', '+data.kq[index].phuong+', '+data.kq[index].quan+', '+data.kq[index].tinh+`' label='`+data.kq[index].byuserID.hoten+`'></option>`
                  )
                }
              })
              .catch(err=>{
              console.log(err)
            })
        }
      })
      $("#bt_seach").click(function() {
        let diadiem = $("#input_homeseach").val()
        window.location.href = '/tim-kiem/dia-diem/?tukhoa='+encodeURI(diadiem)
      })
    })
  </script>
  <!-- Bootstrap 4 -->
  <script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../admin/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../admin/dist/js/demo.js"></script>
</body>

</html>