<!DOCTYPE html>
<html lang="vi">

<head>
  <!-- SEO -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://new.lotrinh.vn/lo-trinh/<%- data._id %>" />
    <% if (data.loai=="1"){ %> 
        <title>Lộ trình tuyến xe bus <%- data.ten %></title>
        <meta name='keywords' content='Xe bus <%- data.matuyen %> xe bus <%- data.ten %>, xe bus <%- data.nccID.tenncc %>'>
        <meta name='description' content='Xe bus <%- data.ten %>, đi từ <%- data.chieudi[0].locationID.ten %>, <%- data.chieudi[0].locationID.duong %>, <%- data.chieudi[0].locationID.phuong %>, <%- data.chieudi[0].locationID.quan %>, <%- data.chieudi[0].locationID.tinh %>, đến <%- data.chieudi[data.chieudi.length - 1].locationID.ten %>, <%- data.chieudi[data.chieudi.length - 1].locationID.duong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.phuong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.quan %>, <%- data.chieudi[data.chieudi.length - 1].locationID.tinh %>'>
        
        <% } else if (data.loai=="2"){ %> 
            <title>Lộ trình tuyến xe khach <%- data.ten %></title>
            <meta name='keywords' content='Xe khách <%- data.matuyen %> xe khách <%- data.ten %>, xe khách <%- data.nccID.tenncc %>'>
            <meta name='description' content='Xe khách <%- data.ten %>, đi từ <%- data.chieudi[0].locationID.ten %>, <%- data.chieudi[0].locationID.duong %>, <%- data.chieudi[0].locationID.phuong %>, <%- data.chieudi[0].locationID.quan %>, <%- data.chieudi[0].locationID.tinh %>, đến <%- data.chieudi[data.chieudi.length - 1].locationID.ten %>, <%- data.chieudi[data.chieudi.length - 1].locationID.duong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.phuong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.quan %>, <%- data.chieudi[data.chieudi.length - 1].locationID.tinh %>'>
        
            <% } else if (data.loai=="3"){ %> 
                <title>Lộ trình tuyến xe taxi <%- data.ten %></title> 
                <meta name='keywords' content='Xe taxi <%- data.matuyen %>, xe taxi <%- data.ten %>, xe taxi <%- data.nccID.tenncc %>'>
                <meta name='description' content='Xe taxi <%- data.ten %>, đi từ <%- data.chieudi[0].locationID.ten %>, <%- data.chieudi[0].locationID.duong %>, <%- data.chieudi[0].locationID.phuong %>, <%- data.chieudi[0].locationID.quan %>, <%- data.chieudi[0].locationID.tinh %>, đến <%- data.chieudi[data.chieudi.length - 1].locationID.ten %>, <%- data.chieudi[data.chieudi.length - 1].locationID.duong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.phuong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.quan %>, <%- data.chieudi[data.chieudi.length - 1].locationID.tinh %>'>
            
                <% } else if (data.loai=="4"){ %> 
                    <title>Lộ trình tuyến xe mô tô <%- data.ten %></title> 
                    <meta name='keywords' content='Moto <%- data.matuyen %>, xe moto <%- data.ten %>, xe moto <%- data.nccID.tenncc %>'>
                    <meta name='description' content='Moto <%- data.ten %>, đi từ <%- data.chieudi[0].locationID.ten %>, <%- data.chieudi[0].locationID.duong %>, <%- data.chieudi[0].locationID.phuong %>, <%- data.chieudi[0].locationID.quan %>, <%- data.chieudi[0].locationID.tinh %>, đến <%- data.chieudi[data.chieudi.length - 1].locationID.ten %>, <%- data.chieudi[data.chieudi.length - 1].locationID.duong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.phuong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.quan %>, <%- data.chieudi[data.chieudi.length - 1].locationID.tinh %>'>
                
                    <% } else if (data.loai=="5"){ %> 
                        <title>Lộ trình tuyến thuyền, tàu biển <%- data.ten %></title> 
                        <meta name='keywords' content='Thuyền, tàu biển <%- data.matuyen %>, thuyền, tàu biển <%- data.ten %>, thuyền, tàu biển <%- data.nccID.tenncc %>'>
                        <meta name='description' content='Thuyền, tàu biển <%- data.ten %>, đi từ <%- data.chieudi[0].locationID.ten %>, <%- data.chieudi[0].locationID.duong %>, <%- data.chieudi[0].locationID.phuong %>, <%- data.chieudi[0].locationID.quan %>, <%- data.chieudi[0].locationID.tinh %>, đến <%- data.chieudi[data.chieudi.length - 1].locationID.ten %>, <%- data.chieudi[data.chieudi.length - 1].locationID.duong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.phuong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.quan %>, <%- data.chieudi[data.chieudi.length - 1].locationID.tinh %>'>
                    
                        <% } else if (data.loai=="6"){ %>  
                            <title>Lộ trình tuyến phương tiện khác <%- data.ten %></title>
                            <meta name='keywords' content='Phương tiện khác <%- data.matuyen %>, phương tiện khác <%- data.ten %>, phương tiện khác <%- data.nccID.tenncc %>'>
                            <meta name='description' content='Phương tiện khác <%- data.ten %>, đi từ <%- data.chieudi[0].locationID.ten %>, <%- data.chieudi[0].locationID.duong %>, <%- data.chieudi[0].locationID.phuong %>, <%- data.chieudi[0].locationID.quan %>, <%- data.chieudi[0].locationID.tinh %>, đến <%- data.chieudi[data.chieudi.length - 1].locationID.ten %>, <%- data.chieudi[data.chieudi.length - 1].locationID.duong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.phuong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.quan %>, <%- data.chieudi[data.chieudi.length - 1].locationID.tinh %>'>
                        

        <% } %>
    <meta name='subject' content='Lộ trình tuyến <%- data.ten %>'>
    <meta name='copyright' content='<%- data.nccID.tenncc %>'>
    <meta name='robots' content='index,follow'>
    <meta name='abstract' content='Lộ trình tuyến đường vận tải <%- data.ten %> của <%- data.nccID.tenncc %>'>
    <meta name='Classification' content='Business'>
    <meta name='author' content='<%- data.partnerID.hoten %>, admin@lotrinh.vn'>
    <meta name='designer' content='<%- data.partnerID.hoten %>, admin@lotrinh.vn'>
    <meta name='reply-to' content='admin@lotrinh.vn'>
    <meta name='owner' content='<%- data.partnerID.hoten %>, admin@lotrinh.vn'>
    <meta name='url' content='http://new.lotrinh.vn/lo-trinh/<%- data._id %>'>
    <meta name='identifier-URL' content='http://new.lotrinh.vn/lo-trinh/<%- data._id %>'>
    <meta name='directory' content='submission'>
    <meta name='pagename' content='Tuyến đường vận tải <%- data.ten %> của <%- data.nccID.tenncc %>'>
    <meta name='category' content='lộ trình tuyến đường'>
    <meta name='coverage' content='Worldwide'>
    <meta name='distribution' content='Global'>
    <meta name='rating' content='General'>
    <meta name='revisit-after' content='7 days'>
    <meta name='subtitle' content='Tuyến đường vận tải <%- data.ten %>'>
    <meta name='target' content='all'>
    <meta name='MobileOptimized' content='320'>
    <meta http-equiv='Expires' content='0'>
    <meta http-equiv='Pragma' content='no-cache'>
    <meta http-equiv='Cache-Control' content='no-cache'>
    <meta http-equiv='imagetoolbar' content='no'>
    <meta http-equiv='x-dns-prefetch-control' content='off'>
    <!-- OpenGraph Meta Tags -->
    <meta name="fb:page_id" content="410128599013063" />
    <meta name="og:title" content="Lộ trình tuyến đường <%- data.ten %> của <%- data.nccID.tenncc %>"/>
    <meta property="og:type" content="article">
    <meta name="og:type" content="router"/>
    <meta name="og:url" content="http://new.lotrinh.vn/lo-trinh/<%- data._id %>"/>
    <meta name="og:image" content="http://new.lotrinh.vn/images/share/lotrinh-AxA.png"/>
    <meta name="og:site_name" content="LOTRINH.VN"/>
    <meta name="og:description" content="Lộ trình tuyến đường <%- data.ten %>. Đi từ <%- data.chieudi[0].locationID.ten %>, <%- data.chieudi[0].locationID.duong %>, <%- data.chieudi[0].locationID.phuong %>, <%- data.chieudi[0].locationID.quan %>, <%- data.chieudi[0].locationID.tinh %>, đến <%- data.chieudi[data.chieudi.length - 1].locationID.ten %>, <%- data.chieudi[data.chieudi.length - 1].locationID.duong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.phuong %>, <%- data.chieudi[data.chieudi.length - 1].locationID.quan %>, <%- data.chieudi[data.chieudi.length - 1].locationID.tinh %>"/>
    <meta name="og:locality" content="<%- data.chieudi[0].locationID.quan %>"/>
    <meta name="og:region" content="<%- data.chieudi[0].locationID.tinh %>"/>
    <meta name="og:country-name" content="VN"/>


  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
</head>

<body class="sidebar-mini sidebar-collapse">
  <!-- Site wrapper -->
  <div class="container">
    <%- include('../1.topmenu.customer.ejs'); %>
    <%- include('../2.seach.customer.ejs'); %>
    <div class="row">
        <div class="col">
            
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-2 align-self-center">
                                <h1 class="text-center"><%- data.matuyen %></h1>
                                <% if (data.loai=="1"){ %> 
                                    <h6 class="text-center">Xe bus</h6>
                                    <% } else if (data.loai=="2"){ %>
                                      <h6 class="text-center">Xe khách</h6>
                                    <% } else if (data.loai=="3"){ %>
                                      <h6 class="text-center">Xe taxi</h6>
                                    <% } else if (data.loai=="4"){ %>
                                      <h6 class="text-center">Xe moto</h6>
                                      <% } else if (data.loai=="5"){ %>
                                        <h6 class="text-center">Thuyền, tàu biển</h6>
                                        <% } else if (data.loai=="6"){ %>
                                          <h6 class="text-center">Phương tiện khác</h6>
        
                                    <% } %>
                            </div>  
                            <div class="col-sm-10 align-self-center">
                                <h2 class="text-center"><%- data.ten %></h2>
                                    <a href="#" class="link-black text-sm mr-2">
                                        <i class="fas fa-eye"></i> <%- data.totalviews %>
                                      </a>
                                      <span class="float-right">
                                        <a href="#" class="link-black text-sm mr-2">
                                          <i class="fas fa-heart"></i> 50
                                        </a>
                                      </span>
                                      <span class="float-right">
                                        <a href="#" class="link-black text-sm mr-2">
                                          <i class="far fa-comments mr-1"></i> 5
                                        </a>
                                      </span>
                            </div>
                        </div>
                        
                        

                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <% if(data.nccID){ %>
                                    <a href="/p/<%- data.nccID._id %>">
                                        <h3 style="text-align: left;"><i class="fab fa-servicestack"> </i> <%- data.nccID.tenncc %></h3>
                                    </a>
                                <% } %> 

                            </div>
                            <div class="col">
                                <h4 style="text-align: right;"><i class="fas fa-user-circle"></i> <%- data.partnerID.hoten %></h4>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <!-- Ads -->
        <%- include('../4.ads-auto.customer.ejs'); %>
        <!-- Chiều đi -->
        <div class="row">
            <div class="col-sm-7">
                <div class="card card-warning card-outline">
                    <div class="card-header">
                        <h5 class="card-title"><i class="fas fa-route"></i> Lộ trình chiều đi</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <span title="địa điểm" class="badge bg-warning" id="dem_chieudi">0</span>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0" style="height: auto; max-height: 500px;">
                        <table class="table table-head-fixed text-wrap" id="table_chieudi">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Địa điểm</th>
                              <th><i class="nav-icon fas fa-map-marker-alt"></i></th>
                            </tr>
                          </thead>
                          <tbody id="tbody_chieudi">
                            <% for( let index = 0; index < data.chieudi.length; index++ ) { %>
                            <tr id="tr_chieudi_<%- index +1 %>">
                                <td><%- index +1 %></td>
                                <td>
                                    <a href="/dia-diem/<%- data.chieudi[index].locationID._id %>">
                                        <h6 style="font-weight: bold;margin-bottom:2px"><%- data.chieudi[index].locationID.ten %></h6>
                                    </a>
                                    <p style="margin-bottom:2px"><%- data.chieudi[index].locationID.duong %>, <%- data.chieudi[index].locationID.phuong %>, <%- data.chieudi[index].locationID.quan %>, <%- data.chieudi[index].locationID.tinh %></p>
                                </td>
                                <td class="align-left">
                                   <a href="/dia-diem/<%- data.chieudi[index].locationID._id %>"><i class="fas fa-chevron-right"></i></a>
                                </td>
                            </tr>
                            <% } %>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card card-warning card-outline">
                    <div class="card-header">
                        <h5 class="card-title"><i class="nav-icon fas fa-calendar-alt"></i> Bảng thời gian chiều đi</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <span title="Chuyến" class="badge bg-warning" id="dem_chuyen_chieudi">0</span>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0" style="height: auto; max-height: 500px;">
                        <table class="table table-head-fixed text-wrap" id="table_chieudi">
                            <thead>
                              <tr>
                                <th class="text-center">Chuyến</th>
                                <th>Mã</th>
                                <th>Thời gian đi</th>
                              </tr>
                            </thead>
                            <tbody id="tbodytime_chieudi">
                                <% for( let index = 0; index < data.chieudi[0].time.length; index++ ) { %>
                                    <tr>
                                        <td id="<%-data.chieudi[0].time[index]._id%>" class="text-center"><%- index +1 %></td>
                                        <td>
                                            <a href="/lo-trinh/lich-trinh/chieu-di/<%-data._id%>/chuyen/<%-data.chieudi[0].time[index].tripCode%>">
                                                <span class="badge bg-primary"><%-data.chieudi[0].time[index].tripCode%></span>   
                                            </a>                                                 
                                        </td>
                                        <td>
                                            <% if (data.chieudi[0].time[index].frequency=="many") { %>
                                            <a href="/lo-trinh/lich-trinh/chieu-di/<%-data._id%>/chuyen/<%-data.chieudi[0].time[index].tripCode%>">
                                                <button type="button" class="btn btn-block btn-light">
                                                    <%-data.chieudi[0].time[index].time%>, <%- moment(data.chieudi[0].time[index].date).format("DD/MM/YYYY")%>
                                                </button>
                                            </a>

                                            <% } %> 
                                            <% if (data.chieudi[0].time[index].frequency=="one") { %> 
                                            <a href="/lo-trinh/lich-trinh/chieu-di/<%-data._id%>/chuyen/<%-data.chieudi[0].time[index].tripCode%>">
                                                <button type="button" class="btn btn-block btn-light">
                                                    <%-data.chieudi[0].time[index].time%>, hàng ngày
                                                </button>
                                            </a>
                                            <% } %> 
                                        </td>
                                    </tr>
                                <% } %> 
                                
                            </tbody>
                          </table>
                    </div>
                    
                </div>
            </div>
            

        </div>

        <!-- Chiều về -->
        <% if (data.chieuve.length){ %>
        <div class="row">
            <div class="col-sm-7">
                <div class="card card-danger card-outline">
                    <div class="card-header">
                        <h5 class="card-title"><i class="fas fa-route"></i> Lộ trình chiều về</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <span title="Địa điểm" class="badge bg-danger" id="dem_chieuve">0</span>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0" style="height: auto; max-height: 500px;">
                        <table class="table table-head-fixed text-wrap" id="table_chieuve">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Địa điểm</th>
                              <th><i class="nav-icon fas fa-map-marker-alt"></i></th>
                            </tr>
                          </thead>
                          <tbody id="tbody_chieuve">
                            <% for( let index = 0; index < data.chieuve.length; index++ ) { %>
                                <tr id="tr_chieuve_<%- index +1 %>">
                                    <td><%- index +1 %> </td>
                                    <td>
                                        <a href="/dia-diem/<%- data.chieuve[index].locationID._id %>">
                                            <h6 style="font-weight: bold;margin-bottom:2px"><%- data.chieuve[index].locationID.ten %></h6>
                                        </a>
                                        <p style="margin-bottom:2px"><%- data.chieuve[index].locationID.duong %>, <%- data.chieuve[index].locationID.phuong %>, <%- data.chieuve[index].locationID.quan %>, <%- data.chieuve[index].locationID.tinh %></p>
                                    </td>
                                    <td class="align-left">
                                        <a href="/dia-diem/<%- data.chieuve[index].locationID._id %>"><i class="fas fa-chevron-right"></i></a>
                                    </td>
                                </tr>
                                <% } %>
                          </tbody>
                        </table>
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-5">
                <div class="card card-danger card-outline">
                    <div class="card-header">
                        <h5 class="card-title"><i class="nav-icon fas fa-calendar-alt"></i> Bảng thời gian chiều về</h5>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                <i class="fas fa-expand"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <span title="Chuyến" class="badge bg-danger" id="dem_chuyen_chieuve">0</span>
                        </div>
                    </div>
                    <div class="card-body table-responsive p-0" style="height: auto; max-height: 500px;">
                        <table class="table table-head-fixed table-hover text-wrap" id="table_chieudi">
                            <thead>
                              <tr>
                                <th class="text-center">Chuyến</th>
                                <th>Mã</th>
                                <th>Thời gian đi</th>
                              </tr>
                            </thead>
                            <tbody id="tbodytime_chieuve">
                                
                                    <% for( let index = 0; index < data.chieuve[0].time.length; index++ ) { %>
                                        <tr>
                                            <td id="<%-data.chieuve[0].time[index]._id%>" class="text-center"><%- index +1 %></td>
                                            <td>
                                                <a href="/lo-trinh/lich-trinh/chieu-ve/<%-data._id%>/chuyen/<%-data.chieuve[0].time[index].tripCode%>">
                                                    
                                                    <span class="badge bg-primary"><%-data.chieuve[0].time[index].tripCode%></span>
                                                </a>
                                            </td>
                                            <td>
                                                <% if (data.chieuve[0].time[index].frequency=="many") { %>
                                                    <a href="/lo-trinh/lich-trinh/chieu-ve/<%-data._id%>/chuyen/<%-data.chieuve[0].time[index].tripCode%>">
                                                        <button type="button" class="btn btn-block btn-light">
                                                            <%-data.chieuve[0].time[index].time%>, <%- moment(data.chieuve[0].time[index].date).format("DD/MM/YYYY")%>
                                                        </button> 
                                                    </a>
                                                    
                                                <% } %> 
                                                <% if (data.chieuve[0].time[index].frequency=="one") { %> 
                                                    <a href="/lo-trinh/lich-trinh/chieu-ve/<%-data._id%>/chuyen/<%-data.chieuve[0].time[index].tripCode%>">
                                                        <button type="button" class="btn btn-block btn-light">
                                                            <%-data.chieuve[0].time[index].time%>, hàng ngày
                                                        </button>
                                                    </a>

                                                <% } %> 
    
                                            </td>
                                        </tr>
                                    <% } %> 
                                
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
        <% } %>   
                
        </div>


    </div>


    <%- include('../3.footer.customer.ejs'); %>
        
  </div>
<!-- Ads -->
<%- include('../3.ads.customer.ejs'); %>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../../admin/plugins/jquery/jquery.min.js"></script>
  <script>
    $(document).ready(function(){

      $("#input_homeseach").keyup(function(){
        let kytuseach = $("#input_homeseach").val()
        let last = kytuseach.charAt(kytuseach.length-1)
        if(kytuseach.length>=2&&last==" "){
          console.log("get..."+kytuseach)
          $.ajax({
              url:'/tim-kiem/?tukhoa='+kytuseach,
              type:'GET',
              dataType: 'json'
              })
              .then(data=>{
              console.log(data)
                $('#seach').empty()
                for (let index = 0; index < data.kq.length; index++) {
                  $('#seach').append(
                    `<option id='`+data.kq[index]._id+`' value='`+data.kq[index].ten+', '+data.kq[index].duong+', '+data.kq[index].phuong+', '+data.kq[index].quan+', '+data.kq[index].tinh+`' label='`+data.kq[index].byuserID.hoten+`'></option>`
                  )
                }
              })
              .catch(err=>{
              console.log(err)
            })
        }
      })
      $("#bt_seach").click(function() {
        let diadiem = $("#input_homeseach").val()
        window.location.href = '/tim-kiem/dia-diem/?tukhoa='+encodeURI(diadiem)
      })
    })
  </script>
  <!-- Bootstrap 4 -->
  <script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../admin/dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../admin/dist/js/demo.js"></script>
</body>

</html>