<div class="info-box bg-light">
  <div class="info-box-content" style="padding-right: 2px;">
      <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <a href="/tim-kiem/?loai=1" class="nav-link">
            <i class="fas fa-bus-alt"></i>
            Xe bus
            <span class="badge badge-success right"><%- data.total[0] %></span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/tim-kiem/?loai=2" class="nav-link">
            <i class="fas fa-bus"></i> Xe khách
            <span class="badge badge-success right"><%- data.total[1] %></span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/tim-kiem/?loai=3" class="nav-link">
            <i class="fas fa-taxi"></i> Taxi
            <span class="badge badge-success right"><%- data.total[2] %></span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/tim-kiem/?loai=4" class="nav-link">
            <i class="fas fa-motorcycle"></i> Moto
            <span class="badge badge-success right"><%- data.total[3] %></span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/tim-kiem/?loai=5" class="nav-link">
            <i class="fas fa-anchor"></i> Thuyền, tàu biển
            <span class="badge badge-success right"><%- data.total[4] %></span>
          </a>
        </li>
        <li class="nav-item">
          <a href="/tim-kiem/?loai=6" class="nav-link">
            <i class="fas fa-horse"></i> Phương tiện khác
            <span class="badge badge-success right"><%- data.total[5] %></span>
          </a>
        </li>
        
      </ul>
    
  </div>
</div>