<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PARTNER | ROUTER</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

<%- include('../1.topmenu.partner.ejs'); %>
<%- include('../2.leftmenu.partner.ejs'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
        <h1>Quản lý tuyến đường</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Tất cả địa điểm</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <a href="/partner/routers/add">
                    <button id="bt_add" type="button" class="btn btn-block bg-gradient-danger"><i class="fas fa-edit"></i> Thêm tuyến</button>
                </a>
                <br>
            </div>

            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Danh sách tuyến đường</h3>
                        </div>
                        <div class="card-body table-responsive p-0" style="height: auto;">
                            <table class="table table-head-fixed text-wrap">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Loại</th>
                                    <th>Mã</th>
                                    <th><i class="nav-icon fas fa-road"></i> Tên tuyến đường (*)</th>
                                    <th><i class="nav-icon fas fa-play-circle"></i> Nơi đi</th>
                                    <th><i class="nav-icon fas fa-stop-circle"></i> Nơi đến</th>
                                    <th><i class="nav-icon fas fa-calendar-alt"></i> Lịch trình (**)</th>
                                </tr>
                                </thead>
                                <tbody id="tbody">
                                    <% for( let index = 0; index < data.length; index++ ) { %>
                                        <tr>
                                            <td> <%-index+1%></td>
                                            <td>
                                                <% var selects = [{1:"Xe bus"},{2:"Xe khách"},{3:"Xe taxis"},{4:"Xe moto"},{5:"Thuyền, tàu biển"},{6:"Phương tiện khác"}] %>
                                                <% for(const key in selects) { %>
                                                    <% let k = parseInt(key) + 1 %> 
                                                    <% if (k==data[index].loai){ %>
                                                        <%-Object.values(Object.values(selects)[key])[0]%>
                                                    <% } %>    
                                                <% } %> 
                                                
                                            </td>
                                            <td><span class="badge bg-light"> <%- data[index].matuyen %></span></td>
                                            <td><a href="/partner/routers/<%- data[index]._id %>"><%- data[index].ten %> </a></td>
                                            <td>
                                                <p style="margin-bottom:2px"><a href="#"><%- data[index].chieudi[0].locationID.ten %></a></p>
                                                <p style="margin-bottom:2px"><%- data[index].chieudi[0].locationID.duong %>, <%- data[index].chieudi[0].locationID.phuong %>,  <%- data[index].chieudi[0].locationID.quan %>, <%- data[index].chieudi[0].locationID.tinh %></p>
                                            </td>
                                            <td>
                                                <p style="margin-bottom:2px"><a href="#"><%- data[index].chieudi[data[index].chieudi.length -1].locationID.ten %></a></p>
                                                <p style="margin-bottom:2px"><%- data[index].chieudi[data[index].chieudi.length -1].locationID.duong %>, <%- data[index].chieudi[data[index].chieudi.length -1].locationID.phuong %>, <%- data[index].chieudi[data[index].chieudi.length -1].locationID.quan %>, <%- data[index].chieudi[data[index].chieudi.length -1].locationID.tinh %></p>
                                            </td>
                                            <td>
                                                <a href="/partner/timetables/<%- data[index]._id %>">
                                                    <button type="button" class="btn btn-block btn-outline-primary btn-sm">Xem <span class="badge bg-light"> <%- data[index].chieudi[0].time.length %></span></button>
                                                </a>
                                            </td>
                                        </tr>
                                    <% } %>
                                <!-- Loader -->
                                </tbody>
                            </table>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <div class="col text-right">
                                    <p style="margin-bottom:2px; font-style: italic;">(*) Nhấn vào "tên tuyến đường" để xem và thêm các điểm đón, trả, đi qua</p>
                                    <p style="margin-bottom:2px; font-style: italic;">(**) Nhấn vào "xem lịch trình" để xem, thêm và xóa các lịch trình các chuyến</p>    
                                </div>
                                <div class="col text-center">
                                    <button id="bt_more" type="button" class="btn btn-block btn-outline-success"> Xem thêm 10 tuyến khác</button>
                                </div>                
                            </div>
                </div>
            </div>
            

            
        </div>
        
    </div>
    
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../3.footer.partner.ejs'); %>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../admin/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../admin/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../admin/dist/js/demo.js"></script>
</body>
</html>
