<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PARTNER | ROUTER</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../admin/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../admin/dist/css/adminlte.min.css">
    <!-- Moment -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Dữ liệu tỉnh thành -->
    <script src="../../javascripts/dvhcvn.js"></script>
        

</head>
<body class="sidebar-mini sidebar-collapse">
<!-- Site wrapper -->
<div class="wrapper">

<%- include('../2.leftmenu.partner.ejs'); %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
    <div class="row mb-2">
        <div class="col-sm-6">
            <h1>Thêm tuyến đường vận tải</h1>
        </div>
        <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Thêm tuyến đường</li>
        </ol>
        </div>
    </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title" id="p_buoc">Bước 1: Đặt tên tuyến đường và mã tuyến</h3>
                    </div>
                    <div class="card-body">
                        <div id="div_tentuyen">
                            <input class="form-control form-control-lg" type="text" placeholder="Hà Nội - Hồ Chí Minh, cung điện di động" id="input_tentuyen">
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <select id="loai" class="custom-select">
                                            <option value="1">Xe bus</option>
                                            <option value="2">Xe khách</option>
                                            <option value="3">Xe taxi</option>
                                            <option value="4">Xe moto</option>
                                            <option value="5">Thuyền, tàu biển</option>
                                            <option value="6">Phương tiện khác</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <input class="form-control is-invalid" type="text" placeholder="Mã tuyến: 01" id="input_code">
                                </div>
                            </div>
                            <% if (cacncc.length>0){ %> 
                            <div class="form-group">
                                <label for="">Nhà cung cấp</label>
                                <select id="cacncc" class="custom-select">
                                    <% for(const key in cacncc) { %>
                                        <option value=<%- cacncc[key].id %>><%-cacncc[key].tenncc%></option>  
                                    <% } %>
                                </select>
                            </div>
                            <% } else { %>
                                
                            <div class="text-right">

                                <a href="/partner/partner-info"> <p class="text-right"></p>Lưu ý: Chưa có nhà cung cấp dịch vụ vui lòng "Thêm nhà cung cấp"</a>
                            </div> 
                            <% } %> 



                            
                        </div>
                        <div class="row" id="buoc2">
                            <!-- <div class="col-sm-6">
                                <div class="card card-warning card-outline">
                                    <div class="card-header">
                                        <h3 class="card-title" id="p_buoc">Thêm nhanh bằng cách tìm kiếm</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" placeholder=" 1001 địa điểm" aria-label="Search">
                                            <div class="input-group-append">
                                              <span class="input-group-text"><i class="fas fa-search fa-fw"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-block btn-outline-success">Thêm chiều đi</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-block btn-outline-danger">Thêm chiều về</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="col">
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h3 class="card-title" id="p_buoc">Vui lòng chọn từ trên xuống theo cấu trúc địa phương</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input list="browsers" autocomplete="off" id="input_diadiemthem" class="form-control is-invalid form-control-lg" type="text" placeholder="Tên địa điểm: Cổng số 1, Tiện cafe ABC..." aria-label=".form-control-sm example">
                                            
                                            <datalist id="browsers">
                                                <% for( let index = 0; index < dsdiadiem.length; index++ ) { %>
                                                    <option value='<%= dsdiadiem[index].ten %>, <%= dsdiadiem[index].duong%>, <%- dsdiadiem[index].phuong%>, <%- dsdiadiem[index].quan%>, <%- dsdiadiem[index].tinh%>'  label='Bởi: <%- dsdiadiem[index].byuserID %>, lúc: <%- moment(dsdiadiem[index].timecreate).format("HH:MM, DD-MM-YYYY") %>'>
                                                <% } %>
                                            </datalist>
                                        </div>
                                        <div class="form-group">
                                            <input id="input_duong" class="form-control is-invalid" type="text" placeholder="77 Lê Văn Thịnh, Ngã tư..." aria-label=".form-control-sm example">
                                        </div>
                                        <div class="form-group">
                                            <select id="select_tinh" class="form-control is-invalid" aria-label="Default select example">
                                            <option selected>Vui lòng chọn Tỉnh</option>
                                            </select>
                                        
                                        </div>
                                        <div class="form-group">
                                            <select id="select_quan" class="form-control is-invalid" aria-label="Default select example">
                                            <option selected>Vui lòng chọn Quận/huyện</option>
                                            </select>
                                        
                                        </div>
                                        <div class="form-group">
                                            <select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">
                                                <option selected>Vui lòng chọn Phường/xã</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-block btn-outline-success" id="bt_tc_chieudi">Thêm chiều đi</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-block btn-outline-danger" id="bt_tc_chieuve">Thêm chiều về</button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-block bg-gradient-primary btn-lg" id="bt_next">NEXT</button>
                            </div>
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-block bg-gradient-danger btn-lg" id="bt_back">Back</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-8">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Xem lại kết quả</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                              <i class="fas fa-expand"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                              <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                              <i class="fas fa-times"></i>
                            </button>
                          </div>
                    </div>
                    <div class="card-body">
                        <h3 id="p_tentuyen"></h3>
                        <div class="row">
                            <div class="col">
                                <div class="card card-success card-outline">
                                    <div class="card-header">
                                        <h3 class="card-title">Chiều đi</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                                <i class="fas fa-expand"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <span title="địa điểm" class="badge bg-danger" id="dem_chieudi">0</span>
                                            
                                        </div>
                                    </div>
        
                                    <div class="card-body table-responsive p-0" style="height: 500px;">
                                        <table class="table table-head-fixed text-nowrap" id="table_chieudi">
                                          <thead>
                                            <tr>
                                              <th>#</th>
                                              <th>Địa điểm</th>
                                              <th>Sửa</th>
                                            </tr>
                                          </thead>
                                          <tbody id="tbody_chieudi">
                                            
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card card-danger card-outline">
                                    <div class="card-header">
                                        <h3 class="card-title">Chiều về</h3>
                                        <div class="card-tools">
                                            <button type="button" class="btn btn-tool" data-card-widget="maximize">
                                                <i class="fas fa-expand"></i>
                                            </button>
                                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                            <span title="Địa điểm" class="badge bg-danger" id="dem_chieuve">0</span>
                                        </div>
                                    </div>
        
                                    <div class="card-body table-responsive p-0" style="height: 500px;">
                                        <table class="table table-head-fixed text-nowrap" id="table_chieuve">
                                          <thead>
                                            <tr>
                                              <th>#</th>
                                              <th>Địa điểm</th>
                                              <th>Sửa</th>
                                            </tr>
                                          </thead>
                                          <tbody id="tbody_chieuve">
                                            
                                          </tbody>
                                        </table>
                                        
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        
                        

                    </div>
                    <div class="card-footer">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1">Tự tạo chiều về từ chiều đi</label>
                        </div>
                        <br>
                        <button type="button" class="btn btn-block bg-gradient-success" id="bt_save">Lưu</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->

<%- include('../3.footer.partner.ejs'); %>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../admin/plugins/jquery/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<!-- Chọn theo cấu trúc -->
<script src="../../javascripts/choncautruc.js"></script>
<script>

$(document).ready(function(){
    $('#bt_back').hide()
    $('#buoc2').hide()
    if ($('#input_tentuyen').val() ==''){
        $('#bt_next').hide()
    } 
    //Xử lý dữ liệu đã có
    $("#input_diadiemthem").on('input', function () {
        let val = this.value;
        $("#browsers").find("option").each(function() {
            if ($(this).val() == val) {
                let diadiem = $(this).val()
                let id_didiem =  $(this).attr("label")
                tachdiadiem = diadiem.split(", ")
                console.log(tachdiadiem[4])
                console.log(id_didiem)
                $('#input_diadiemthem').val(tachdiadiem[0])
                $('#input_duong').val(tachdiadiem[1])
                /* Xử lý cấu trúc từ điểm đã gợi ý */
                async function chuyencautruc(){
                    /* Thay tỉnh */
                    let chuyentinh = await $('#select_tinh option').filter(function() {
                            return $(this).text() == tachdiadiem[4];
                            }).prop('selected', true);
                    //Cac quan,huyen thuoc tinh
                    let idTinh = $('#select_tinh').val()
                    let cacHuyen = diachi.data[idTinh].level2s
                    let luachonchuyen=['<option value="NA">Chọn Quận/huyện</option>',]
                    let i = 0;
                    for (let element of cacHuyen){
                        huyen = element.name
                        //console.log('- '+huyen)
                        luachonchuyen.push('<option value='+i+'>'+huyen+'</option>')
                        i++
                    }
                    let kqhuyen = '<select id="select_quan" class="form-control is-invalid" aria-label="Default select example">'+luachonchuyen+'</select>';
                    $("#select_quan").replaceWith(kqhuyen)
                    // Thay Quận huyện
                    $('#select_quan option').filter(function() {
                            return $(this).text() == tachdiadiem[3];
                            }).prop('selected', true);
                    //Quan to xa/phuong
                    let idHuyen = $('#select_quan').val()
                    let cacXa = diachi.data[idTinh].level2s[idHuyen].level3s;
                    console.log(cacXa)
                    let luachonxa=[]
                    let t = 0;
                    for (let element of cacXa){
                        xa = element.name
                        console.log('- '+xa)
                        luachonxa.push('<option value='+t+'>'+xa+'</option>')
                        i++
                    }
                    //console.log(luachonchuyen)
                    let kqxa = '<select id="select_phuong" class="form-control is-invalid" aria-label="Default select example">'+luachonxa+'</select>';
                    $("#select_phuong").replaceWith(kqxa)
                    //Thay xã
                    $('#select_phuong option').filter(function() {
                            return $(this).text() == tachdiadiem[2];
                            }).prop('selected', true);
                }

                chuyencautruc()
                
                       
            }
        })
    });
    
    $('#input_tentuyen').keyup(function(){
        $('#p_tentuyen').text(
            $('#input_tentuyen').val()
        )
        $('#bt_next').show()
    })
    $('#bt_next').click(function(){
        $(this).hide()
        $('#bt_back').show()
        $('#div_tentuyen').hide()
        $('#p_buoc').text(
            "Bước 2: Thêm điểm đón, trả, đi qua"
        )
        $('#buoc2').show()
        $('#bt_back').click(function(){
            $(this).hide()
            $('#div_tentuyen').show()
            $('#bt_next').show()
            $('#buoc2').hide()

        })
        
    })
    // Sắp xếp chiều đi
    let i = 1
    $('#bt_tc_chieudi').click(function(){
        let phuong = $('#select_phuong'+" option:selected").text()
        let quan = $('#select_quan'+" option:selected").text()
        let tinh = $('#select_tinh'+" option:selected").text()

        if(tinh == 'Chọn Tỉnh/thành phố'|| quan =='Chọn Quận/huyện' || phuong == 'Vui lòng chọn Phường/xã'){
            alert("Vui lòng chọn địa phương trước")
        } else if (
            $('#input_duong').val() ==''
        ){
            alert("Vui lòng điền số đường đường hoặc khu dễ tìm")
        } else if(
            $('#input_diadiemthem').val()==''
        ){
            alert("Vui lòng điền tên vị trí dễ đón/trả")
        } else {
            $('#tbody_chieudi').append(
                `
                <tr id="tr_chieudi_`+i+`">
                    <td>`+i+`</td>
                    <td>
                        <p style="font-weight: bold;margin-bottom:2px">`+$('#input_diadiemthem').val()+`</p>
                        <p style="margin-bottom:2px">`+$('#input_duong').val()+', '+phuong+', '+quan+', '+tinh+`</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-block btn-sm" id="bt_xoa_chieudi_`+i+`"><i class="fas fa-trash-alt"></i> Xóa</button>
                    </td>
                </tr>
                `
            )
            //Đếm điểm đón trả chiều đi
            $('#dem_chieudi').text($('#table_chieudi tr').length -1)
            

            i++  
        }
        //Xóa điểm đón trả
        let numbrow_chieudi =  $('#table_chieudi tr').length -1
        for (let index = 1; index <= i; index++) {
            $("#bt_xoa_chieudi_"+index).click(function(){
                $("#tr_chieudi_"+index).remove()
                let numbrow_chieudi =  $('#table_chieudi tr').length -1
                //Đếm điểm đón trả chiều đi
                $('#dem_chieudi').text($('#table_chieudi tr').length -1)                    
            })
        }
    })
    // Sắp xếp chiều về
    let t = 1
    $('#bt_tc_chieuve').click(function(){
        let phuong = $('#select_phuong'+" option:selected").text()
        let quan = $('#select_quan'+" option:selected").text()
        let tinh = $('#select_tinh'+" option:selected").text()

        if(tinh == 'Chọn Tỉnh/thành phố'|| quan =='Chọn Quận/huyện' || phuong == 'Vui lòng chọn Phường/xã'){
            alert("Vui lòng chọn địa phương trước")
        } else if (
            $('#input_duong').val() ==''
        ){
            alert("Vui lòng điền số đường đường hoặc khu dễ tìm")
        } else if(
            $('#input_diadiemthem').val()==''
        ){
            alert("Vui lòng điền tên vị trí dễ đón/trả")
        } else {
            $('#tbody_chieuve').append(
                `
                <tr id="tr_chieuve_`+t+`">
                    <td>`+t+`</td>
                    <td>
                        <p style="font-weight: bold;margin-bottom:2px">`+$('#input_diadiemthem').val()+`</p>
                        <p style="margin-bottom:2px">`+$('#input_duong').val()+', '+phuong+', '+quan+', '+tinh+`</p>
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-danger btn-block btn-sm" id="bt_xoa_chieuve_`+t+`"><i class="fas fa-trash-alt"></i> Xóa</button>
                    </td>
                </tr>
                `
            )
            //Đếm điểm đón trả chiều đi
            $('#dem_chieuve').text($('#table_chieuve tr').length -1)
            t++  
        }
        //Xóa điểm đón trả
        let numbrow_chieuve =  $('#table_chieuve tr').length -1
        for (let index = 1; index <= t; index++) {
            $("#bt_xoa_chieuve_"+index).click(function(){
                $("#tr_chieuve_"+index).remove()
                let numbrow_chieuve =  $('#table_chieuve tr').length -1
                //Đếm điểm đón trả chiều đi
                $('#dem_chieuve').text($('#table_chieuve tr').length -1)
            })
        }
    })

    //Sortable
    $("#table_chieudi tbody").sortable({
        items: 'tr',
        cursor: 'pointer',
        axis: 'y',
        dropOnEmpty: false,
        start: function (e, ui) {
            ui.item.addClass("selected");
        },
        stop: function (e, ui) {
            ui.item.removeClass("selected");
        },
        update: function( event, ui ) {
            $(this).children().each(function(index) {
            let odder = index + 1
            $(this).find('td').first().html(odder)
            });
        } 
    });
    $("#table_chieuve tbody").sortable({
        items: 'tr',
        cursor: 'pointer',
        axis: 'y',
        dropOnEmpty: false,
        start: function (e, ui) {
            ui.item.addClass("selected");
        },
        stop: function (e, ui) {
            ui.item.removeClass("selected");
        },
        update: function( event, ui ) {
            $(this).children().each(function(index) {
            let odder = index + 1
            $(this).find('td').first().html(odder)
            });
        } 
    });
    //Luu tuyen
    $('#bt_save').click(function(){
        //Tim chieu di
        let router_chieudi = []
        let header = ["ten", "diadiem"];
        $('#tbody_chieudi').find("tr").each(function(){
            //console.log($(this).text())
            let row_chieudi = {}
            $(this).find("p").each(function(i){
                let key = header[i], value = $(this).text();
                row_chieudi[key] = value
            })
            console.log(row_chieudi.diadiem)
            let diadiem = row_chieudi.diadiem.split(",")
            let diadiemok = []
            diadiemok.push(row_chieudi.ten)
            for (let index = 0; index < diadiem.length; index++) {
                
                diadiemok.push(diadiem[index].trimStart())
            }
            //console.log(diadiemok)
            router_chieudi.push(diadiemok)
        })
        console.log("di: ",router_chieudi)
        //Tim chieu ve
        let router_chieuve = []
        $('#tbody_chieuve').find("tr").each(function(){
            let row_chieuve = {}
            $(this).find("p").each(function(i){
                let key = header[i], value = $(this).text();
                row_chieuve[key] = value
            })
            //console.log(row_chieuve.diadiem)
            let diadiemve = row_chieuve.diadiem.split(",")
            let diadiemveok = []
            diadiemveok.push(row_chieuve.ten)
            for (let index = 0; index < diadiemve.length; index++) {
                
                diadiemveok.push(diadiemve[index].trimStart())
            }
            //console.log(diadiemok)
            router_chieuve.push(diadiemveok)
        })
        console.log("ve: ",router_chieuve)
        //Save
        let ten = $('#input_tentuyen').val()
        let code = $('#input_code').val()
        let loai = $('#loai').val()
        let nccID = $('#cacncc').val()
        if(ten==""){
            alert("Tên tuyến đường không được bỏ trống")
        } else if (code==""){
            alert("Mã tuyến đường không được bỏ trống")
        } else if (nccID==null){
            alert("Vui lòng thêm nhà cung cấp")
        } else if (router_chieudi.length<2){
            alert("Địa điểm đi qua phải từ 2 điểm để xác định điểm đầu và cuối")
        } else {
            $.ajax({
            url:'/partner/routers/add',
            type:'POST',
            dataType: 'json',
            data: 
            {
                ten: ten,
                code: code,
                loai: loai,
                nccID: nccID,
                chieudi: JSON.stringify(router_chieudi),
                chieuve: JSON.stringify(router_chieuve)
            }
            })
            .then(data=>{
            alert(data.mes)
            window.location.href = "/partner/routers/"
            })
            .catch(err=>{
            console.log(err)
            })
        }
        

    })
})
</script>
<!-- Bootstrap 4 -->
<script src="../../admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../admin/dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../admin/dist/js/demo.js"></script>
</body>
</html>
